.automation-panel-grid,
.automation-panel-grid-half {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 70%);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  align-content: start;
  overflow: hidden;

  & .uuid {
    &-field {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-copy {
      min-width: 50px;
    }
  }

  & p {
    margin: 0;
  }
}

.automation-status-field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 5px;
  align-content: start;
  overflow: hidden;
}

.sync-error-message {
  padding-right: 5px;
  color: red;
}

.automation-panel-grid {
  width: 100%;
}

.automation-panel-grid-half {
  width: 50%;
}
