<div class="flex-row full-height" sqtmCoreWorkspace="home-workspace">
  <sqtm-core-nav-bar class="full-height flex-fixed-size"></sqtm-core-nav-bar>
  <ng-container *ngIf="homeWorkspaceService.componentData$ | async as componentData; else loading">
    <div class="content-wrapper full-width neutral-background-color flex-column p-20"
         style="overflow: hidden">
      <div class="flex-row flex-fixed-size full-width">
        <button [attr.data-test-component-id]="'show-welcome-message-button'" class="m-l-auto" nz-button
                [nzType]="'primary'" (click)="handleShowWelcomeMessage()">
          {{'sqtm-core.generic.label.message' | translate}}
        </button>
        <button [attr.data-test-component-id]="'show-dashboard-button'" class="m-l-20" nz-button [nzType]="'primary'"
                (click)="handleShowDashboard()">
          {{'sqtm-core.generic.label.dashboard.title' | translate}}
        </button>
      </div>
      <div *ngIf="licenseMessage"
           [attr.data-test-component-id]="'license-message-container'"
           class="full-width message-wrapper container-background-color container-border m-t-20 p-20 color-red"
           style="overflow: auto"
           [innerHTML]="licenseMessage">
      </div>
      <div *ngIf="componentData.showDashboard; else welcomeMessage"
           [attr.data-test-component-id]="'dashboard-container'"
           class="full-width message-wrapper container-background-color container-border m-t-20"
           style="overflow: auto">
        <div style="height: 84vh">
          <ng-container *ngIf="componentData.dashboard; else chooseFavoriteDashboard">
            <sqtm-app-custom-dashboard *ngIf="componentData.dashboard.chartBindings.length !== 0 ||
            componentData.dashboard.reportBindings.length !== 0; else emptyDashboardMessage"
                                       [chartBindings]="getChartBindings(componentData.dashboard)">
            </sqtm-app-custom-dashboard>
            <ng-template #emptyDashboardMessage>
              <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
            </ng-template>
          </ng-container>
        </div>

        <ng-template #chooseFavoriteDashboard>
          <div style="text-align: center">
            <span
              style="font-weight: 600">{{'sqtm-core.generic.workspace.messages.add-favorite-dashboard' | translate}}</span>
          </div>

        </ng-template>
      </div>
    </div>
    <ng-template #welcomeMessage>
      <div [attr.data-test-component-id]="'welcome-message-container'"
           class="full-width message-wrapper container-background-color container-border m-t-20"
           style="overflow: auto">
        <div *ngIf="componentData.welcomeMessage; else noMessage"
             [attr.data-test-component-id]="'custom-welcome-message'"
             class="p-20"
             [innerHTML]="getSanitizedMessage(componentData.welcomeMessage)">
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>

<ng-template #loading>
  <div class="full-height full-width">
    <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
  </div>
</ng-template>

<ng-template #noMessage>
  <div [attr.data-test-component-id]="'default-welcome-message'"
       class="p-20">{{'sqtm-core.home-workspace.empty-message'|translate}}</div>
</ng-template>
