<ng-container *ngIf="columnDisplay && row">
  <div class="sqtm-grid-cell-txt-renderer full-height flex-column">
    <sqtm-core-simple-checkbox *ngIf="!(serverOperationRunning$ | async); else loading" style="margin: auto"
                               [value]="linkedToStep"
                               [disabled]="viewService.stepCreationMode$|async"
                               (clickedInActiveMode)="changeLinkState()">
    </sqtm-core-simple-checkbox>
  </div>
</ng-container>

<ng-template #loading>
  <i class="current-workspace-main-color" nz-icon nzType="loading" nzTheme="outline"></i>
</ng-template>
