<ng-container *ngIf="uiManager.navBarState$ | async as navBarState">
  <ng-container *ngIf="currentUser$ | async as currentUser">
    <div class="full-height nav-bar-width">
      <ul nz-menu [nzMode]="'vertical'" nzTheme="dark" [nzInlineCollapsed]="navBarState.collapsed"
          class="full-height flex-column">
        <li class="home-workspace-link">
          <div class="full-height full-width flex">
            <div class="__hover_pointer m-10">
              <a *ngIf="!navBarState.collapsed" [routerLink]="['/home-workspace']">
                <img height="40px" width="150px"
                     src="./assets/sqtm-core/icons/assets/sqtm-core-nav/logo-squash-standard-white.svg">
              </a>
              <a *ngIf="navBarState.collapsed" [routerLink]="['/home-workspace']">
                <img height="40px" width="40px"
                     src="./assets/sqtm-core/icons/assets/sqtm-core-nav/logo_squash_icon_white.svg">
              </a>
            </div>
          </div>
        </li>

        <li>
          <div nz-menu-divider class="sqtm-nav-bar-divider"></div>
        </li>

        <ng-container
          *ngTemplateOutlet="administrationLink; context:{workspace:'users', display:loggedAsAdmin$ | async}"></ng-container>
        <ng-container
          *ngTemplateOutlet="administrationLink; context:{workspace:'projects', display:true}"></ng-container>
        <ng-container
          *ngTemplateOutlet="administrationLink; context:{workspace:'milestones', display:showMilestonesMenuItem$ | async}"></ng-container>
        <ng-container
          *ngTemplateOutlet="administrationLink; context:{workspace:'entities-customization', display:loggedAsAdmin$ | async}"></ng-container>
        <ng-container
          *ngTemplateOutlet="administrationLink; context:{workspace:'servers', display:loggedAsAdmin$ | async}"></ng-container>
        <ng-container
          *ngTemplateOutlet="administrationLink; context:{workspace:'system', display:loggedAsAdmin$ | async}"></ng-container>

        <ng-template #administrationLink let-workspace="workspace" let-display="display">
          <li *ngIf="display"
              class="sqtm-core-menu-item administration-workspace-link"
              nz-menu-item
              nz-tooltip nzTooltipPlacement="right"
              [nzTooltipTitle]="navBarState.collapsed ? getWorkspaceName(workspace) : ''"
              [nzSelected]="navBarState.currentWorkspace === 'administration-workspace-' + workspace">
            <a title class="font-14-px nav-bar-title" [sqtmCorePlatformLink]="['administration-workspace', workspace]">
              <i nz-icon class="font-20-px" [nzType]="'sqtm-core-nav-admin:nav_' + workspace">
              </i>
              <span>{{getWorkspaceName(workspace)}}</span>
            </a>
          </li>
        </ng-template>

        <li class="flex-column" style="flex-grow: 1">
          <div title (click)="toggleCollapsed()" [attr.data-test-component-id]="'sqtm-main-nav-bar-toggle-button'">
            <i nz-icon [nzType]="navBarState.collapsed? 'right': 'left'" style="float: right"
               class="sqtm-nav-bar-toggle m-t-20"
               nz-tooltip="{{ (navBarState.collapsed? 'sqtm-core.nav-bar.expand' :'sqtm-core.nav-bar.collapse') | translate | capitalize}}"
               [nzTooltipOverlayStyle]="toggleButtonTooltipIsVisible ? {} : {display:'none'}"
               (mouseenter)="toggleButtonTooltipIsVisible = true"
               (mouseleave)="toggleButtonTooltipIsVisible = false"
            ></i>
          </div>
        </li>

        <li>
          <div nz-menu-divider class="sqtm-nav-bar-divider"></div>
        </li>

        <li class="flex full-width" [attr.data-test-navbar-field-id]="'exit'">

          <nz-avatar class="__hover_pointer admin-avatar" style="margin: 10px auto;" [@.disabled]="true"
                     nzIcon="sqtm-core-nav-admin:close"
                     (click)="exitAdministration()"
                     nz-tooltip [nzTooltipTitle]="'sqtm-core.nav-bar.administration.exit'|translate"
                     nzSize="large"
          ></nz-avatar>


        </li>
      </ul>
    </div>
  </ng-container>
</ng-container>
