<sqtm-core-customisable-dialog
  [titleKey]="'sqtm-core.campaign-workspace.dialog.title.automated-suite-exec-report' | translate"
  [attr.data-test-dialog-id]="'automated-suite-exec-report'">
  <sqtm-core-dialog-body>
    <div class="flex-column full-width full-height">
      <div class="m-b-10">
        <sqtm-core-label class="m-b-10"
          [text]="'sqtm-core.campaign-workspace.dialog.message.squash-tf-report' | translate"></sqtm-core-label>
        <ul *ngIf="conf.reportUrls.length > 0; else noReport">
          <li *ngFor="let url of conf.reportUrls"><a [href]="url" target="_blank">{{url}}</a></li>
        </ul>
        <ng-template #noReport>
          <span class="m-b-10">{{'sqtm-core.campaign-workspace.dialog.message.no-report' | translate}}</span>
        </ng-template>
      </div>
      <div *ngIf="conf.attachmentLists.length > 0">
        <sqtm-core-label class="m-b-10" [text]="'sqtm-core.campaign-workspace.dialog.message.squash-autom-report' | translate"></sqtm-core-label>
        <ul *ngFor="let attachmentList of conf.attachmentLists">
          <li *ngFor="let attachment of attachmentList.attachments"><a
            [href]="getAttachmentDownloadURL(attachmentList.id, attachment)"
          >{{attachment.name}}</a></li>
        </ul>
      </div>
    </div>
  </sqtm-core-dialog-body>
  <sqtm-core-dialog-footer>
    <button [attr.data-test-dialog-button-id]="'close'"
            style="margin-top: 5px"
            nz-button
            nzType="default"
            sqtmCoreDialogClose>
      {{'sqtm-core.generic.label.close' | translate}}
    </button>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>
