<ng-container *ngIf="componentData">
  <div class="p-4 requirement-import-grid">
    <label class="label label__align_right">{{'sqtm-core.test-case-workspace.dialog.field.format' | translate}}</label>

    <div class="flex-column">
      <nz-select [attr.data-test-field-name]="'format'"
                 [ngModel]="componentData.format">
        <nz-option *ngFor="let format of initializeImportFormat()"
                   [nzLabel]="format.label" [nzValue]="format.id"
                   nzCustomContent>{{format.label}}
        </nz-option>
      </nz-select>

      <a [href]="'./assets/sqtm-core/templates/import/requirement_import_template_xls.xls'"
         download="requirement_import_template_xls.xls">
        {{'sqtm-core.test-case-workspace.dialog.message.download-xls-template' | translate}}
      </a>
    </div>

    <label class="label label__align_right">{{'sqtm-core.test-case-workspace.dialog.field.file' | translate}}</label>
    <div class="flex-column" style="margin: auto 0 auto 0">
      <sqtm-core-attachment-file-selector [multiple]="false"
                                          (uploadFilesEvent)="addAttachment($event)"
                                          [restrictionFiles]="getRestrictionFiles()">
        {{componentData.file ? componentData.file.name : 'sqtm-core.test-case-workspace.dialog.field.choose-a-file' | translate}}
      </sqtm-core-attachment-file-selector>
      <span *ngIf="wrongFileFormat"
            [attr.data-test-dialog-span-id]="'wrong-format'"
            class="sqtm-core-error-message">{{getWrongFileKey() | translate}}</span>
    </div>
  </div>
</ng-container>
