<ng-container>
  <nz-checkbox-wrapper
      *ngFor="let option of options"
      (mouseup)="handleWrapperClicked(option)">
    <label
        nz-checkbox
        class="checkbox-wrapper"
        [nzChecked]="isChecked(option.id)">
      {{ option.label }}
    </label>
  </nz-checkbox-wrapper>
</ng-container>
