<ng-container *ngIf="(workspaceLayout$|async) as workspaceLayout">
  <div class="fold-tree-arrow"
       (click)="toggleTree()"
       [attr.data-test-component-id]="'fold-tree-button'"
       [nz-tooltip]="getTitleKey(workspaceLayout.treeFolded) | translate"
       [nzTooltipOverlayStyle]="toggleButtonTooltipIsVisible ? {} : {display:'none'}"
       (mouseenter)="toggleButtonTooltipIsVisible = true"
       (mouseleave)="toggleButtonTooltipIsVisible = false">
    <i class="m-auto" nz-icon [nzType]="getIcon(workspaceLayout.treeFolded)" nzTheme="outline"></i>
  </div>
</ng-container>

