<ng-container *ngIf="componentData">
  <div class="information-grid">
    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.url.label' | translate">
    </sqtm-core-label>
    <div class="url-link">
      <sqtm-core-editable-text-field
        [sqtmCoreGenericViewEditableTextField]="'url'"
        [attr.data-test-field-id]="'scm-server-url'"
        layout="compact"
        class="m-r-5 overflow-hidden">
      </sqtm-core-editable-text-field>

      <a href="{{componentData.scmServer.url}}"
         target="_blank"
         rel="noopener"
         class="m-l-10">
        <i nz-icon nzType="sqtm-core-administration:external_link" class="icon table-icon-size"></i>
      </a>
    </div>
    <sqtm-core-label
      [text]="'sqtm-core.entity.scm-server.kind.label' | translate">
    </sqtm-core-label>
    <span>{{componentData.scmServer.kind}}</span>
  </div>
</ng-container>
