<ng-container *ngIf="componentData">
  <div>
    <sqtm-core-editable-select-field
      [options]="authProtocolOptions"
      [editable]="authProtocolOptions.length > 1"
      [sqtmCoreGenericViewEditableSelectField]="'authProtocol'"
      [layout]="'compact'">
    </sqtm-core-editable-select-field>
  </div>
</ng-container>

