<ng-container *ngIf="componentData">
  <div class="two-columns-grid">
    <sqtm-core-label
        [text]="'sqtm-core.administration-workspace.system.downloads.logs.label.latest' | translate">
    </sqtm-core-label>
    <div>
      <a [href]="latestLink"
         [attr.data-test-link-id]="'latest-log'">
        squash-tm.log
      </a>
    </div>

    <ng-container *ngIf="hasPreviousLogFiles">
      <sqtm-core-label
          [text]="'sqtm-core.administration-workspace.system.downloads.logs.label.previous' | translate">
      </sqtm-core-label>
      <div class="flex-column"
           [attr.data-test-component-id]="'previous-log-files'">
        <span *ngFor="let file of previousLogFiles">
          <a [href]="getLink(file)"
             [attr.data-test-link-id]="file">
            {{file}}
          </a>
        </span>
      </div>
    </ng-container>
  </div>
</ng-container>

