<ng-container *ngIf="requirementVersionViewComponentData">
  <div class="requirement-version-information-grid">
    <sqtm-core-label *ngIf="requirementVersionViewComponentData.requirementVersion.hasExtender"
      [text]="'sqtm-core.entity.requirement.url.label' | translate">
    </sqtm-core-label>
    <div *ngIf="requirementVersionViewComponentData.requirementVersion.hasExtender">
      <a [href]="requirementVersionViewComponentData.requirementVersion.remoteReqUrl"
         target="_blank">
        {{ requirementVersionViewComponentData.requirementVersion.remoteReqId}}</a>
    </div>

    <div *ngIf="requirementVersionViewComponentData.requirementVersion.hasExtender">
      <sqtm-core-label *ngIf="requirementVersionViewComponentData.requirementVersion.syncStatus"
                       [text]="'sqtm-core.entity.requirement.synchronization-status.label' | translate">
      </sqtm-core-label>
    </div>
    <div *ngIf="requirementVersionViewComponentData.requirementVersion.hasExtender">
      <div *ngIf="requirementVersionViewComponentData.requirementVersion.syncStatus">
        <span class="field-value-color">{{ syncStatus | translate}}</span>
      </div>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.requirement.version-number.short' | translate">
    </sqtm-core-label>
    <div>
      <span
        *ngIf="requirementVersionViewComponentData.requirementVersion.hasExtender; else requirementVersionNumber">{{requirementVersionViewComponentData.requirementVersion.versionNumber}} {{'sqtm-core.requirement-workspace.sync.history-disabled' | translate}}</span>
      <ng-template #requirementVersionNumber>
        <a [attr.data-test-field-id]="'requirement-version-number'"
           [routerLink]="['/','requirement-workspace','requirement', requirementVersionViewComponentData.requirementVersion.requirementId, 'version']">{{requirementVersionViewComponentData.requirementVersion.versionNumber}}</a>
      </ng-template>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.requirement.id' | translate">
    </sqtm-core-label>
    <div [attr.data-test-field-id]="'requirement-id'">
      <span class="field-value-color">{{ requirementVersionViewComponentData.requirementVersion.requirementId}}</span>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.status.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-select-level-enum-field
      #statusField
      class="full-width"
      [attr.data-test-field-id]="'requirement-version-status'"
      [layout]="'compact'"
      [enumType]="'RequirementStatus'"
      [showIcon]="true"
      [selectedEnumItem]="requirementVersionViewComponentData.requirementVersion.status"
      [editable]="requirementVersionViewComponentData.milestonesAllowModification
      && requirementVersionViewComponentData.permissions.canWrite"
      (confirmEvent)="updateStatus($event)">
    </sqtm-core-editable-select-level-enum-field>

    <sqtm-core-label
      [text]="'sqtm-core.entity.requirement.version.id' | translate">
    </sqtm-core-label>
    <div [attr.data-test-field-id]="'requirement-version-id'">
      <span class="field-value-color">{{ requirementVersionViewComponentData.requirementVersion.id}}</span>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.requirement.criticality.label' | translate">
    </sqtm-core-label>

    <div class="flex-row" [attr.data-test-field-id]="'requirement-version-criticality'">
      <sqtm-core-editable-select-level-enum-field
        [attr.data-test-field-id]="'requirement-version-criticality'"
        class="full-width"
        [showIcon]="true"
        [layout]="'compact'"
        [enumType]="'RequirementCriticality'"
        [editable]="allowRequirementModification(requirementVersionViewComponentData)"
        [sqtmCoreEntityViewEditableSelectLevelEnumField]="'criticality'">
      </sqtm-core-editable-select-level-enum-field>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.creation.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
      [attr.data-test-field-id]="'requirement-version-created'"
      [userName]="requirementVersionViewComponentData.requirementVersion.createdBy"
      [date]="requirementVersionViewComponentData.requirementVersion.createdOn">
    </sqtm-core-auditable-field>

    <sqtm-core-label
      [text]="'sqtm-core.entity.requirement.category.label' | translate">
    </sqtm-core-label>
    <div class="flex-row">
      <i nz-icon [nzType]="getIcon(requirementVersionViewComponentData.projectData.requirementCategory,
       requirementVersionViewComponentData.requirementVersion.category)" nzTheme="outline"
         class="p-r-10 sqtm-core-infolist-icon requirement-version-information-icon table-icon-size"></i>
      <sqtm-core-editable-select-infolist-field
        class="full-width"
        [layout]="'compact'"
        [infoListItems]="requirementVersionViewComponentData.projectData.requirementCategory.items"
        [sqtmCoreEntityViewEditableInfolistDirective]="'category'"
        [editable]="allowRequirementModification(requirementVersionViewComponentData)"
        [attr.data-test-field-id]="'requirement-version-category'">
      </sqtm-core-editable-select-infolist-field>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.modification.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
      [attr.data-test-field-id]="'requirement-version-lastModified'"
      [userName]="requirementVersionViewComponentData.requirementVersion.lastModifiedBy"
      [date]="requirementVersionViewComponentData.requirementVersion.lastModifiedOn">
    </sqtm-core-auditable-field>

    <ng-container *ngIf="milestoneFeatureEnabled$ | async">
      <div class="requirement-version-grid-first-column">
        <sqtm-core-label
          [text]="'sqtm-core.entity.milestone.label.plural' | translate">
        </sqtm-core-label>
      </div>
      <div class="requirement-version-grid-group-three-column">
        <sqtm-app-milestones-tag
          [attr.data-test-field-id]="'requirement-version-milestones'"
          [milestones]="requirementVersionViewComponentData.requirementVersion.milestones"
          [warningMessageKey]="'sqtm-core.requirement-workspace.milestone.already-binded'"
          [titleKey]="'sqtm-core.dialog.milestone.bind.single'"
          [possibleMilestones]="requirementVersionViewComponentData.requirementVersion.bindableMilestones"
          [editable]="requirementVersionViewComponentData.permissions.canWrite"
          (deleteMilestone)="deleteMilestone(requirementVersionViewComponentData.requirementVersion.id, $event)"
          (bindMilestones)="bindMilestones(requirementVersionViewComponentData.requirementVersion.id, $event)">
        </sqtm-app-milestones-tag>
      </div>
    </ng-container>

    <ng-container *ngFor="let cfd of customFieldData; trackBy: trackCfd">
      <sqtm-core-label class="requirement-version-grid-first-column"
                       [text]="cfd.label">
      </sqtm-core-label>
      <div class="requirement-version-grid-group-three-column">
        <sqtm-core-custom-field-widget [sqtmCoreEntityCustomField]="cfd"
        >
        </sqtm-core-custom-field-widget>
      </div>
    </ng-container>
  </div>
  <div style="margin-top: 20px">
    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.description.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-rich-text [border]="true"
                                  [editable]="allowRequirementModification(requirementVersionViewComponentData)"
                                  [attr.data-test-field-id]="'requirement-version-description'"
                                  [sqtmCoreEntityViewEditableRichTextField]="'description'"
                                  [placeholder]="'sqtm-core.generic.editable.description.placeholder' | translate">
    </sqtm-core-editable-rich-text>
  </div>

</ng-container>
