<div class="full-width overflow-hidden" [formGroup]="subFormGroup">
  <ng-container [ngSwitch]="reportInput.type">
    <ng-container *ngSwitchCase="ReportInputType.TREE_PICKER">
      <div class="flex-row">
        <sqtm-core-label class="m-r-10" [text]="reportInput.label"></sqtm-core-label>
        <sqtm-app-form-campaign-tree-picker [formControlName]="reportInput.name"
                                            [restrictedRowType]="reportInput.jsTreeNodeType"
                                            [enabledMultiSelection]="false"></sqtm-app-form-campaign-tree-picker>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="ReportInputType.CHECKBOX">
      <label nz-checkbox [formControlName]="reportInput.name">{{reportInput.label}}</label>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="reportInput.helpMessage">
    <i nz-icon [nzType]="'sqtm-core-generic:help'"
       nz-tooltip [nzTooltipTitle]="reportInput.helpMessage"
       class="action-icon-size current-workspace-button"
    ></i>
  </ng-container>
  <span [attr.data-test-component-id]="'criteria-errors'" class="m-l-10 sqtm-core-error-message" *ngIf="errors">
      {{'sqtm-core.validation.errors.required'|translate}}
    </span>
</div>
