.collapse-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  flex-grow: 1;
}

.collapse {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.collapse-content {
  overflow: hidden;
}
