<div class="full-width" [formGroup]="formGroup" [attr.data-test-field-name]="fieldName" sqtmCoreKeyupStopPropagation>
  <textarea #textAreaField nz-input [formControlName]="fieldName" (blur)="handleBlur($event)" [rows]="rows">
  </textarea>
  <div class="has-error" *ngFor="let error of errors">
    <span [attr.data-test-error-key]="error.provideI18nKey()" class="sqtm-core-error-message">{{error.provideI18nKey()| translate}}</span>
  </div>
</div>
