<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <ng-container *ngIf="componentData.shouldShowFavoriteDashboard; else defaultDashboard">
          <nz-collapse-panel [sqtmCoreAnchorPanel]="'dashboard'" [sqtmCoreAnchorCollapsePanel]="'dashboard'"
                             [nzHeader]="dashboardTitle" [nzActive]="true">
            <ng-template #dashboardTitle>
              <div class="flex-row full-width" style="overflow: hidden; justify-content: space-between">
                <div class="entity-view-collapse-panel-title full-width" style="overflow: hidden; justify-content: space-between">
                <span
                  *ngIf="componentData.dashboard; else defaultDashboardTitle">{{componentData.dashboard.name}}
                </span>
                <ng-template #defaultDashboardTitle>
                  <div class="entity-view-collapse-panel-title">
                    <span>{{'sqtm-core.generic.label.dashboard.title' | translate}}</span>
                  </div>
                </ng-template>
                </div>

                <div class="flex-row" style="overflow: hidden">
                  <div class="txt-ellipsis m-r-10 m-t-2 generated-label label-color"
                       *ngIf="componentData.dashboard && componentData.favoriteDashboardId != null">
                    {{'sqtm-core.generic.date.prefix.generated-on'|translate|capitalize}} {{componentData.generatedDashboardOn | date:'medium'}}
                  </div>
                  <button *ngIf="componentData.favoriteDashboardId != null" nz-tooltip
                          [nzTooltipTitle]="'sqtm-core.generic.label.refresh' | translate | capitalize"
                          nz-button [nzType]="'primary'" [nzSize]="'small'"
                          class="flex-fixed-size" [attr.data-test-refresh-button-id]="'refresh-button'"
                          (click)="refreshDashboard($event)">
                    <span>
                      <i nz-icon nzType="reload" nzTheme="outline"></i>
                    </span>
                  </button>
                  <button class="flex-fixed-size m-l-5"
                          [attr.data-test-component-id]="'favorite-button'"
                          nz-button [nzType]="'primary'" [nzSize]="'small'"
                          nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                          (click)="changeDashboardToDisplay($event, 'default')">
                    {{'sqtm-core.generic.label.default' | translate}}
                  </button>
                </div>
              </div>
            </ng-template>
            <div *ngIf="componentData.dashboard; else noDashboard" style="height: 84vh" class="full-width">
              <ng-container *ngIf="componentData.dashboard.chartBindings.length !== 0 ||
              componentData.dashboard.reportBindings.length !== 0; else emptyDashboardMessage">
                <sqtm-app-custom-dashboard
                  [chartBindings]="getChartBindings(componentData.dashboard)"></sqtm-app-custom-dashboard>
              </ng-container>
              <ng-template #emptyDashboardMessage>
                <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
              </ng-template>
            </div>
            <ng-template #noDashboard>
              <div class="full-width flex-row" [attr.data-test-component-id]="'empty-test-plan-error'">
                {{'sqtm-core.generic.workspace.messages.add-favorite-dashboard'|translate}}
              </div>
            </ng-template>
          </nz-collapse-panel>
        </ng-container>
        <ng-template #defaultDashboard>
          <nz-collapse-panel [sqtmCoreAnchorPanel]="'dashboard'" [sqtmCoreAnchorCollapsePanel]="'dashboard'"
                             [nzHeader]="statisticsTitle" [nzActive]="true">
            <ng-template #statisticsTitle>
              <div class="flex-row full-width" style="overflow: hidden; justify-content: space-between">
              <span
                *ngIf="componentData.dashboard; else defaultDashboardTitle">{{componentData.dashboard.name}}
              </span>
                <ng-template #defaultDashboardTitle>
                  <div class="entity-view-collapse-panel-title">
                    {{'sqtm-core.campaign-workspace.campaign-page.statistics.blocks.milestone-stats' | translate}}
                  </div>
                </ng-template>

                <div class="flex-row" style="overflow: hidden">
                  <div class="txt-ellipsis m-r-10 m-t-2 generated-label label-color"
                       *ngIf="componentData.statistics || componentData.dashboard">
                    {{'sqtm-core.generic.date.prefix.generated-on'|translate|capitalize}} {{componentData.generatedDashboardOn | date:'medium'}}
                  </div>
                  <button nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.refresh' | translate | capitalize"
                          nz-button [nzType]="'primary'" [nzSize]="'small'"
                          class="flex-fixed-size" [attr.data-test-refresh-button-id]="'refresh-button'"
                          (click)="refreshStats($event)">
                <span>
                  <i nz-icon nzType="reload" nzTheme="outline"></i>
                </span>
                  </button>
                  <button
                    *ngIf="!componentData.shouldShowFavoriteDashboard"
                    class="flex-fixed-size m-l-5" [attr.data-test-component-id]="'favorite-button'"
                    nz-button [nzType]="'primary'" [nzSize]="'small'"
                    nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.favorite' | translate"
                    (click)="changeDashboardToDisplay($event, 'dashboard')">
                <span>
                  {{'sqtm-core.generic.label.favorite' | translate}}
                </span>
                  </button>
                  <button *ngIf="componentData.shouldShowFavoriteDashboard" class="flex-fixed-size m-l-5"
                          [attr.data-test-component-id]="'favorite-button'"
                          nz-button [nzType]="'primary'" [nzSize]="'small'"
                          nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                          (click)="changeDashboardToDisplay($event, 'default')">
                    {{'sqtm-core.generic.label.default' | translate}}
                  </button>
                </div>
              </div>
            </ng-template>

            <div *ngIf="componentData.statistics; else loadingPanel" class="full-width">
              <sqtm-app-campaign-statistics-charts-panel
                *ngIf="hasTestPlanItems(componentData.statistics.campaignTestCaseStatusStatistics); else noTestPlanItem"
                [statistics]="componentData.statistics"
                [disabledExecutionStatus]="componentData.disabledExecutionStatus"
                [scope]="componentData.scope" [scopeKind]="'project'"></sqtm-app-campaign-statistics-charts-panel>
              <ng-template #noTestPlanItem>
                <div class="full-width flex-row" [attr.data-test-component-id]="'empty-test-plan-error'">
                  {{'sqtm-core.campaign-workspace.campaign-page.statistics.charts.no-test-plan-items.campaign'|translate}}
                </div>
              </ng-template>
            </div>
          </nz-collapse-panel>
        </ng-template>

        <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                           sqtmCoreAnchorLastPanel [nzHeader]="informationTitle" class="anchor">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.test-case-workspace.title.information' | translate}}</div>
          </ng-template>
          <div class="sqtm-core-two-column-information-display">
            <span
              class="label">{{'sqtm-core.entity.generic.status.label' | translate}}</span><span>{{ 'sqtm-core.entity.milestone.status.' + componentData.milestone.status | translate}}</span>
            <span
              class="label">{{'sqtm-core.entity.milestone.term.label' | translate}}</span><span>{{componentData.milestone.endDate | date:'shortDate': '': translateService.getBrowserLang()}}</span>
          </div>
        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>

<ng-template #loadingPanel>
  <div class="full-width">
    <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
  </div>
</ng-template>
