.capsule {
  border-radius: 20px;
  background-color: var(--container-background-color);
  padding: 2px 20px 2px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.execution-status-badge {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  margin: auto 5px auto 0;
}
