<ng-container *ngIf="componentData">
  <ng-container *ngIf="componentData.loadingData; else reportTemplate">
    <div class="full-width full-height">
      <i nz-icon nzTheme="outline" nzType="loading"></i>
    </div>
  </ng-container>
  <ng-template #reportTemplate>
    <ng-container *ngIf="componentData.format === 'ZIP'; else reportXLS">
      <div class="m-b-10">
        <div>
          <span>{{'sqtm-core.test-case-workspace.dialog.import.test-case.total' | translate}}</span><span>{{componentData.zipReport.total}}</span>
        </div>
        <div>
          <span>{{'sqtm-core.test-case-workspace.dialog.import.test-case.success' | translate}}</span><span
          style="color: green">{{componentData.zipReport.success}}</span>
        </div>
        <div>
          <span>{{'sqtm-core.test-case-workspace.dialog.import.test-case.failures' | translate}}</span><span
          style="font-weight: bold">{{componentData.zipReport.failures}}</span>
        </div>
      </div>
      <ng-container *ngIf="(componentData.zipReport.renamed + componentData.zipReport.modified)!==0">
        <span>{{'sqtm-core.test-case-workspace.dialog.import.notes' | translate}}</span>
        <ul>
          <li
            *ngIf="componentData.zipReport.renamed > 0">{{'sqtm-core.test-case-workspace.dialog.import.warnings.renamed' | translate}}</li>
          <li
            *ngIf="componentData.zipReport.modified > 0">{{'sqtm-core.test-case-workspace.dialog.import.warnings.modified' | translate}}</li>
          <li
            *ngIf="componentData.zipReport.rejected > 0">{{'sqtm-core.test-case-workspace.dialog.import.warnings.extension' | translate}}</li>
        </ul>
      </ng-container>
    </ng-container>
    <ng-template #reportXLS>
      <sqtm-app-xls-report [templateKo]="componentData.xlsReport.importFormatFailure"
                           [templateOk]="componentData.xlsReport.templateOk"></sqtm-app-xls-report>
    </ng-template>
  </ng-template>
</ng-container>

