.workbench-layout {
  display: grid;
  grid-template-columns: 1fr 450px;
}

.title {
  border-color: var(--container-border-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--current-workspace-main-color);
}

.block-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--current-workspace-main-color);
}

.button-bar {
  justify-content: space-evenly;
  width: 140px;
  margin-left: auto;
}

.bordered {
  border-color: var(--container-border-color);
  border-style: solid;
  border-width: 0 1px 0 1px;
}

.selected-criteria-scroller {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;
}
