<ng-container *ngIf="componentData$ | async as componentData; else loading">
  <div class="full-height full-width overflow-hidden flex-column">
    <div class="admin-workspace-secondary-title">
      {{'sqtm-core.administration-workspace.system.messages.title' | translate}}
    </div>
    <div class="full-width full-height">
      <div class="full-width full-height p-r-15" style="overflow-y: auto">
        <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
          <nz-collapse-panel
              [nzActive]="true"
              [nzHeader]="informationTitle">
            <ng-template #informationTitle>
              <div class="entity-view-collapse-panel-title">
                {{'sqtm-core.administration-workspace.system.messages.login-message.title' | translate}}
              </div>
            </ng-template>
            <sqtm-app-system-login-message-panel>
            </sqtm-app-system-login-message-panel>
          </nz-collapse-panel>
          <nz-collapse-panel
              [nzActive]="true"
              [nzHeader]="pluginsTitle">
            <ng-template #pluginsTitle>
              <div class="entity-view-collapse-panel-title">
                {{'sqtm-core.administration-workspace.system.messages.welcome-message.title' | translate}}
              </div>
            </ng-template>
            <sqtm-app-system-welcome-message-panel>
            </sqtm-app-system-welcome-message-panel>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>
