.contextual-content {
  overflow: hidden;
}

.resize-handler {
  width: 5px;
  border-right: solid var(--container-border-color) 1px;
  border-left: solid var(--background-color) 2px;
  background-color: var(--background-color);
  &:hover {
    border-left: solid var(--current-workspace-main-color) 2px;
    cursor: col-resize;
  }
}

.workspace-grid-layout {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 100%;
  grid-row-gap: 0;
  grid-column-gap: 0;
  width: 100%;
}

.resize-hidden {
  display: none;
}
