<ng-container *ngIf="grid.gridDisplay$ | async as gridDisplay">
  <div class="sqtm-grid-footer">
    <ng-container *ngIf="grid.paginationDisplay$ | async as pagination">
      <div>
        <ng-container *ngIf="pagination.size!=-1 && pagination.active">
          {{getInferiorBoundary(pagination)}} - {{getSuperiorBoundary(pagination)}} / {{pagination.count}}
        </ng-container>
      </div>
      <div class="flex-row">
        <sqtm-core-pagination-size-selector
          [allowedPageSizes]="pagination.allowedPageSizes"
          [pageSize]="pagination.size"
          [allowShowAll]="gridDisplay.allowShowAll"
          (changeSize)="handlePaginationSizeChange($event)"
          *ngIf="pagination.allowedPageSizes.length > 1"
        >
        </sqtm-core-pagination-size-selector>
        <ng-container *ngIf="pagination.size!=-1 && pagination.active">
          <button nz-button nzType="default" [nzSize]="'small'" nzShape="circle"
                  [disabled]="disabled"
                  class="m-l-10 sqtm-grid-pagination-btn"
                  (click)="handleGoFirstPage()">
            <i nz-icon nzType="double-left">
            </i>
          </button>
          <button nz-button nzType="default" [nzSize]="'small'" nzShape="circle"
                  [disabled]="disabled"
                  class="m-l-5 sqtm-grid-pagination-btn"
                  (click)="handlePrevious()">
            <i nz-icon nzType="left">
            </i>
          </button>
          <span class="m-l-10">{{pagination.page + 1}}/{{pagination.maxPage + 1}}</span>
          <button nz-button nzType="default" [nzSize]="'small'" nzShape="circle"
                  [disabled]="disabled"
                  class="m-l-10 sqtm-grid-pagination-btn"
                  (click)="handleNext()">
            <i nz-icon nzType="right">
            </i>
          </button>
          <button nz-button nzType="default" [nzSize]="'small'" nzShape="circle"
                  [disabled]="disabled"
                  class="m-l-5 sqtm-grid-pagination-btn"
                  (click)="handleGoLastPage()">
            <i nz-icon nzType="double-right">
            </i>
          </button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
