<ng-container *ngIf="componentData">
  <div class="custom-field-information-grid">
    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-text-field
        [attr.data-test-field-id]="'custom-field-label'"
        [required]="true"
        [sqtmCoreGenericViewEditableTextField]="'label'"
        class="txt-ellipsis"
        layout="compact">
    </sqtm-core-editable-text-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.custom-field.code.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-text-field
        [attr.data-test-field-id]="'custom-field-code'"
        [required]="true"
        [sqtmCoreGenericViewEditableTextField]="'code'"
        layout="compact">
    </sqtm-core-editable-text-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.custom-field.input-type.label' | translate">
    </sqtm-core-label>
    <div>{{ translatedCustomFieldType }}</div>

    <ng-container *ngIf="showOptionalField">
      <sqtm-core-label
          [text]="'sqtm-core.entity.custom-field.optional.label' | translate">
      </sqtm-core-label>
      <span
          nz-checkbox style="margin: auto 0;"
          [attr.data-test-field-name]="'custom-field-optional'"
          [nzChecked]="componentData.customField.optional"
          (nzCheckedChange)="toggleOptional($event)">
      </span>
    </ng-container>

    <ng-container *ngIf="showDefaultValueField">
      <sqtm-core-label
          [text]="'sqtm-core.entity.custom-field.default-value.label' | translate">
      </sqtm-core-label>
      <ng-container [ngSwitch]="inputType">
        <ng-container *ngSwitchCase="'PLAIN_TEXT'">
          <sqtm-core-editable-text-field
              [sqtmCoreGenericViewEditableTextField]="'defaultValue'"
              [attr.data-test-field-id]="'custom-field-default-text-value'"
              layout="compact">
          </sqtm-core-editable-text-field>
        </ng-container>
        <ng-container *ngSwitchCase="'CHECKBOX'">
          <sqtm-core-editable-select-field
              [sqtmCoreGenericViewEditableSelectField]="'defaultValue'"
              [attr.data-test-field-id]="'custom-field-default-checkbox-value'"
              [options]="defaultCheckedOptions">
          </sqtm-core-editable-select-field>
        </ng-container>
        <ng-container *ngSwitchCase="'DATE_PICKER'">
          <sqtm-core-editable-date-field
              [sqtmCoreGenericViewEditableDateCufValue]="'defaultValue'"
              [attr.data-test-field-id]="'custom-field-default-date-value'"
              [allowEmptyValue]="componentData.customField.optional">
          </sqtm-core-editable-date-field>
        </ng-container>
        <ng-container *ngSwitchCase="'RICH_TEXT'">
          <sqtm-core-editable-rich-text
              [size]="'small'"
              [sqtmCoreGenericViewEditableRichTextField]="'largeDefaultValue'"
              [attr.data-test-field-id]="'custom-field-default-rich-text-value'">
          </sqtm-core-editable-rich-text>
        </ng-container>
        <ng-container *ngSwitchCase="'TAG'">
          <sqtm-core-editable-dragable-tag-field
              [required]="!componentData.customField.optional"
              [options]="componentData.customField.defaultValue !== '' ? componentData.customField.defaultValue.split('|') : []"
              [placeholder]="'sqtm-core.entity.generic.add.label' | translate"
              (editTagEvent)="addTagDefaultValue($event)"
              [attr.data-test-field-id]="'custom-field-default-tag-value'">
          </sqtm-core-editable-dragable-tag-field>
        </ng-container>
        <ng-container *ngSwitchCase="'NUMERIC'">
          <sqtm-core-editable-numeric-field
              [sqtmCoreGenericViewEditableNumericField]="'numericDefaultValue'"
              [attr.data-test-field-id]="'custom-field-default-numeric-value'"
              layout="compact">
          </sqtm-core-editable-numeric-field>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
