<div class="full-height full-width flex-column m-b-10">
  <div class="flex-row m-b-10" style="justify-content: space-between; align-items: flex-end">
        <span class="automation-workspace-main-title m-l-50">
          {{mainTitleI18NKey | translate}}
        </span>
    <i nz-icon nzType="sqtm-core-automation:workflow" class="current-workspace-button action-icon-size p-r-5"
       (click)="showWorkFlowDialog()"></i>
  </div>
  <div class="flex-row" style="align-items: flex-end; justify-content: space-between">
    <div class="flex-row"  style="align-items: flex-end;">
      <span class="automation-workspace-secondary-title m-l-50 m-r-10">
        {{tableNameI18NKey | translate}}
      </span>
      <i nz-icon nzType="sqtm-core-automation:help" class="current-workspace-button action-icon-size"
         nz-tooltip
         [nzTooltipTitle]="helpI18NKey | translate"></i>
    </div>
    <div>
      <ng-content select="[projection=automation-button-action]"></ng-content>
    </div>
  </div>
</div>
