<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                           [nzHeader]="informationTitle" sqtmCoreAnchorLastPanel class="anchor">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.generic.label.information.plural' | translate}}</div>
          </ng-template>
          <div class="campaign-information-grid">
            <sqtm-core-label
              [text]="'sqtm-core.entity.generic.description.label' | translate">
            </sqtm-core-label>
            <sqtm-core-editable-rich-text [size]="'small'" [border]="true"
                                          class="campaign-grid-group-three-column"
                                          [sqtmCoreEntityViewEditableRichTextField]="'description'"
                                          [placeholder]="'sqtm-core.generic.editable.description.placeholder'|translate">
            </sqtm-core-editable-rich-text>

            <ng-container *ngFor="let cfd of customFieldData; trackBy: trackCfd">
              <sqtm-core-label class="campaign-grid-first-column"
                               [text]="cfd.label">
              </sqtm-core-label>
              <div class="campaign-grid-group-three-column">
                <sqtm-core-custom-field-widget
                  [sqtmCoreEntityCustomField]="cfd"
                  [attr.data-test-customfield-id]="cfd.name">
                </sqtm-core-custom-field-widget>
              </div>
            </ng-container>
          </div>
        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>

