<div class="rows">
  <ng-container *ngIf="grid.isSortedOrFiltered$ | async; else draggedItems">
    <i nz-icon nzType="sqtm-core-infolist-item:unavailable" nzTheme="outline"
       class="cannot-drag-icon"
       [attr.data-test-component-id]="'cannot-drag-icon'"></i>
  </ng-container>
  <ng-template #draggedItems>
    <ng-container *ngFor="let dataRow of dataRows">
      <div [attr.data-test-grid-row-dragged-content]="dataRow.id" class="row txt-ellipsis">
        {{getText(dataRow)}}
      </div>
    </ng-container>
  </ng-template>
</div>
