<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height p-10" style="overflow: auto">
    <div class="header-color">{{"sqtm-core.entity.test-step.action.singular"|translate}}</div>
    <div class="m-t-5 block-border">
      <sqtm-core-editable-rich-text #action [value]="componentData.actionStep.action"
                                    [editable]="isEditable(componentData)"
                                    (confirmEvent)="changeAction($event)"
                                    [attr.data-test-field-id]="'action'"></sqtm-core-editable-rich-text>
    </div>
    <div class="m-t-15 header-color">{{"sqtm-core.entity.test-step.expected-result.label"|translate}}</div>
    <div class="m-t-5 block-border">
      <sqtm-core-editable-rich-text #expectedResult [value]="componentData.actionStep.expectedResult"
                                    [editable]="isEditable(componentData)"
                                    (confirmEvent)="changeExpectedResult($event)"
                                    [attr.data-test-field-id]="'result'"></sqtm-core-editable-rich-text>
    </div>

    <ng-container *ngIf="customFieldData$|async as customFieldData">
      <ng-container *ngIf="customFieldData.length > 0">
        <div *ngIf="customFieldData.length > 0" style="overflow: hidden">
          <div class="m-t-15 m-b-5 header-color">
            {{'sqtm-core.entity.custom-field.label.plural'|translate}}
          </div>
          <div class="custom-fields m-t-5 block-border">
            <ng-container *ngFor="let cfd of customFieldData; trackBy: trackCfd">
              <sqtm-core-label class="test-case-grid-first-column"
                               [text]="cfd.label">
              </sqtm-core-label>
              <div class="test-case-grid-group-three-column">
                <sqtm-core-custom-field-widget [sqtmCoreEntityCustomField]="cfd">
                </sqtm-core-custom-field-widget>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div>
      <div class="m-t-10 m-b-5 header-color">{{'sqtm-core.entity.attachment.label.long.plural'|translate}}
        <sqtm-core-attachment-file-selector *ngIf="isEditable(componentData)" (uploadFilesEvent)="addAttachment($event, componentData.actionStep)">
          <i class="current-workspace-main-color m-l-10 font-14-px __hover_pointer" nz-icon nzType="sqtm-core-generic:plus" nzTheme="outline"></i>
        </sqtm-core-attachment-file-selector>
      </div>
      <div class="block-border p-l-10">
        <sqtm-core-attachment-list-compact
          [attachments]="getAttachments(componentData.actionStep)"
          [attachmentListId]="componentData.actionStep.attachmentList.id"
          [canAttach]="isEditable(componentData)"
          (deleteAttachmentEvent)="deleteAttachment($event)"
          (confirmDeleteAttachmentEvent)="confirmDeleteAttachmentEvent($event, componentData.actionStep)"
          (cancelDeleteAttachmentEvent)="cancelDeleteAttachmentEvent($event)"
          (removeRejectedAttachmentEvent)="removeRejectedAttachment($event)"
        >
        </sqtm-core-attachment-list-compact>
      </div>
    </div>
  </div>
</ng-container>

