<ng-container *ngIf="(workspaceLayout$|async) as workspaceLayout">
  <div class="close-button"
       (click)="closeContextualContent()"
       [attr.data-test-component-id]="'close-view-button'"
       [nz-tooltip]="'sqtm-core.generic.label.close' | translate">
    <i class="m-auto" nz-icon [nzType]="'close'" nzTheme="outline"></i>
  </div>
</ng-container>

