<div class="full-width full-height flex-column"
  (click)="edit()">
  <div #field class="color-badge"
    [style.backgroundColor]="color">
  </div>
</div>

<ng-template #template>
  <sqtm-core-color-picker
    [color]="color"
    [cpPosition]="cpPosition"
    (colorSelectionChanged)="handleColorSelectionChange($event)">
  </sqtm-core-color-picker>
</ng-template>
