<nz-drawer
  [nzVisible]="isVisible" [nzClosable]="false" (nzOnClose)="doClose()" nzWidth="500px"
  [nzBodyStyle]="getNzDrawerBodyStyle()" [nzMask]="false"
>
  <div class="full-height full-width flex-column p-l-20 p-t-10"
       *ngIf="localTheme else withoutLocalTheme"
       [sqtmCoreWorkspace]="localTheme"
       [localTheme]="true">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</nz-drawer>

<ng-template #withoutLocalTheme>

  <div class="full-height full-width flex-column p-l-20 p-t-10">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #contentTemplate>
  <div class="flex-fixed-size flex-row title m-5">
    <div class="__hover_pointer" (click)="doClose()" [attr.data-test-button-id]="'close-drawer'"><i nz-icon nzType="close" nzTheme="outline"></i></div>
    <ng-content select="[projection=icons]"></ng-content>
    <div style="margin-left: auto" class="m-r-10 current-workspace-main-color">{{titleKey|translate}}</div>
  </div>
  <div class="full-height">
    <ng-content></ng-content>
  </div>
</ng-template>
