<div #mainContainer
     [class.workbench-layout-2-cols]="showSelectReportPanel$|async"
     style="position: relative"
     class="full-height full-width flex-row overflow-hidden neutral-background-color">
  <!--  Left part, controls are here-->
  <div class="full-height flex-fixed-size flex-column overflow-hidden select-report-zone"
       *ngIf="showSelectReportPanel$|async">
    <div class="sqtm-core-screen-title title__underline p-b-25 m-t-10 m-l-20 flex-fixed-size">
      {{'sqtm-core.custom-report-workspace.create-report.selection.title'|translate}}
    </div>
    <div class="full-width full-height p-10" style="overflow-y: auto">
      <ng-container *ngIf="unInstalledReports$|async as unAvailablePlugin">
        <div *ngIf="unAvailablePlugin.length > 0" class="full-width p-10 container-border container-background-color flex-column m-b-20">
        <span
          class="block-title">{{'sqtm-core.custom-report-workspace.reports.uninstalled.label'|translate|capitalize}}</span>
          <sqtm-app-uninstalled-report-list [attr.data-test-component-id]="'uninstalled-report-list'"
                                [reports]="unAvailablePlugin"></sqtm-app-uninstalled-report-list>
        </div>
      </ng-container>
      <div class="full-width p-10 container-border container-background-color flex-column">
        <span
          class="block-title">{{'sqtm-core.custom-report-workspace.create-report.selection.phase.preparation'|translate|capitalize}}</span>
        <sqtm-app-report-list [attr.data-test-component-id]="'preparation-phase-report-list'"
                              [reports]="availablePreparationPhaseReports$|async"
                              (reportChanged)="changeSelectedReport($event)"></sqtm-app-report-list>
      </div>

      <div class="full-width p-10 container-border container-background-color flex-column m-t-20 m-b-10">
        <span
          class="block-title">{{'sqtm-core.custom-report-workspace.create-report.selection.phase.execution'|translate|capitalize}}</span>
        <sqtm-app-report-list [attr.data-test-component-id]="'execution-phase-report-list'"
                              [reports]="availableExecutionPhaseReports$|async"
                              (reportChanged)="changeSelectedReport($event)"></sqtm-app-report-list>
      </div>
    </div>
  </div>
  <div class="full-height full-width flex-column overflow-hidden"
       *ngIf="selectedReport$|async as selectedReport"
       [attr.data-test-report-id]="selectedReport.id"
  >
    <div class="full-width flex-fixed-size flex-row">
      <div class="m-l-20 flex-fixed-size">
        <i class="m-t-20 __hover_pointer" nz-icon [nzType]="showSelectReportPanelIcon$|async" nzTheme="outline"
           [attr.data-test-component-id]="'toggle-report-selector'"
           (click)="toggleSelectReportPanel()"></i>
      </div>
      <div class="sqtm-core-screen-title p-b-25 m-t-10 m-l-20 full-width"
           [attr.data-test-component-id]="'selected-report-title'">
        {{selectedReport.label}}
      </div>
    </div>
    <div class="p-15 full-height" style="overflow-y: auto" [formGroup]="formGroup">
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel [nzHeader]="informationTitle" class="anchor" [nzActive]="true">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.generic.label.information.plural' | translate}}</div>
          </ng-template>
          <div class="m-10">
            <!-- Natives attributes -->
            <div class="information-form p-4">
              <label class="label label__align_right">{{'sqtm-core.entity.generic.name.label' | translate}}</label>
              <sqtm-core-text-field
                #nameField
                [initialFocus]="true"
                [formGroup]="formGroup"
                [fieldName]="'name'"
                [serverSideFieldValidationError]="serverSideValidationErrors"></sqtm-core-text-field>
              <label class="label label__align_right">{{'sqtm-core.generic.label.resume' | translate}}</label>
              <sqtm-core-text-field
                [formGroup]="formGroup"
                [fieldName]="'summary'"></sqtm-core-text-field>
              <label
                class="label label__align_right">{{'sqtm-core.entity.generic.description.label' | translate}}</label>
              <sqtm-core-rich-text-field
                [formGroup]="formGroup"
                [fieldName]="'description'">
              </sqtm-core-rich-text-field>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel" formArrayName="criteria">
        <nz-collapse-panel [nzHeader]="criteriaTitle" class="anchor" [nzActive]="true">
          <ng-template #criteriaTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.search.generic.criteria.label' | translate}}</div>
          </ng-template>
          <div class="full-width" *ngFor="let input of selectedReport.inputs; index as i">
            <ng-container *ngIf="isReportOptionGroup(input);else simpleInput">
              <sqtm-app-composite-report-input [reportInput]="input"
                                               [subFormGroup]="getSubForm(i)"
                                               [errors]="getSubForm(i).errors">
              </sqtm-app-composite-report-input>
            </ng-container>
            <ng-template #simpleInput>
              <ng-container *ngIf="isReportInputsGroup(input); else simpleInput2">
                <sqtm-app-inputs-group-report [subFormGroup]="getSubForm(i)"
                                              [reportInput]="input"
                                              [errors]="getSubForm(i).errors"></sqtm-app-inputs-group-report>
              </ng-container>
              <ng-template #simpleInput2>
                <sqtm-app-simple-report-input [reportInput]="input"
                                              [subFormGroup]="getSubForm(i)"
                                              [errors]="getSubForm(i).errors"></sqtm-app-simple-report-input>
              </ng-template>
            </ng-template>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div class="full-width flex-fixed-size flex-row p-10">
      <button
        [attr.data-test-component-id]="'download-report'"
        [disabled]="showSpinner$|async"
        class="flex-fixed-size m-l-auto"
        nz-button nzType="primary"
        (click)="handleDownload()">
        {{'sqtm-core.entity.generic.download' | translate}}
      </button>
      <button
        [attr.data-test-component-id]="'save-report'"
        [disabled]="showSpinner$|async"
        class="flex-fixed-size m-l-10"
        nz-button nzType="primary"
        (click)="handleAdd()">
        {{saveLabel()}}
      </button>
      <button
        [attr.data-test-component-id]="'cancel'"
        [disabled]="showSpinner$|async"
        class="flex-fixed-size m-l-10 m-r-20"
        nz-button nzType="default"
        (click)="handleCancel()">
        {{'sqtm-core.generic.label.cancel' | translate}}
      </button>
    </div>
  </div>
  <div *ngIf="showSpinner$|async" class="loading-overlay">
    <div class="full-width full-height loading">
      <i class="current-workspace-main-color" nz-icon nzType="loading" nzTheme="outline"></i>
    </div>
  </div>
</div>
