<ng-container *ngIf="componentData">
  <ng-container *ngIf="componentData.loadingData; else reportTemplate">
    <div class="full-width full-height">
      <i nz-icon nzTheme="outline" nzType="loading"></i>
    </div>
  </ng-container>

  <ng-template #reportTemplate>
    <sqtm-app-xls-report [templateOk]="componentData.xlsReport.templateOk"
                         [templateKo]="componentData.xlsReport.importFormatFailure"></sqtm-app-xls-report>
  </ng-template>
</ng-container>
