.font-dialog-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 18px;
}

.param-field {
  padding: 10px;
}

.param-cols-form {
  display: grid;
  grid-template-columns: 100px 390px;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 8px;

  .label {
    color: var(--label-color);
    font-size: 14px;
    font-weight: 300;
    padding: 10px;

    &__align_right {
      text-align: right;
    }
  }
}
