<ng-container *ngIf="columnDisplay && row">
  <div class="full-width full-height flex-column">
    <sqtm-core-inline-editable-text-field #editableTextField style="margin: auto 5px;"
                                          class="sqtm-grid-cell-txt-renderer"
                                          [editable]="canEdit()"
                                          [showPlaceHolder]="false"
                                          [value]="row.data[columnDisplay.id]"
                                          (confirmEvent)="updateValue($event)"
    >
    </sqtm-core-inline-editable-text-field>
  </div>
</ng-container>`,
