<div class="form-grid p-b-10" *ngIf="formGroup" [formGroup]="formGroup">
  <ng-container *ngIf="isEditable; else readonlyForm">
    <ng-container *ngFor="let field of currentScheme$ | async">
      <ng-container *ngIf="isFieldVisible(field)">
        <sqtm-core-label [text]="getLabelForField(field)">
        </sqtm-core-label>

        <div [ngSwitch]="field.rendering.inputType.name">
          <sqtm-core-select-field
              *ngSwitchCase="'dropdown_list'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [options]="getOptionsForField(field)">
          </sqtm-core-select-field>
          <sqtm-app-remote-autocomplete-text-field
              *ngSwitchCase="'text_field'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [field]="field">
          </sqtm-app-remote-autocomplete-text-field>
          <sqtm-app-remote-autocomplete-text-field
              *ngSwitchCase="'unknown'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [field]="field">
          </sqtm-app-remote-autocomplete-text-field>
          <sqtm-core-date-picker
              *ngSwitchCase="'date_picker'"
              [formGroup]="formGroup"
              [fieldName]="field.id">
          </sqtm-core-date-picker>
          <sqtm-core-date-picker
              *ngSwitchCase="'date_time'"
              [showTime]="true"
              [formGroup]="formGroup"
              [fieldName]="field.id">
          </sqtm-core-date-picker>
          <sqtm-core-text-area-field
              *ngSwitchCase="'text_area'"
              [formGroup]="formGroup"
              [fieldName]="field.id">
          </sqtm-core-text-area-field>
          <sqtm-core-select-field
              *ngSwitchCase="'tag_list'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [options]="getOptionsForField(field)"
              [mode]="'tags'">
          </sqtm-core-select-field>
          <sqtm-core-select-field
              *ngSwitchCase="'free_tag_list'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [mode]="'tags'">
          </sqtm-core-select-field>
          <sqtm-core-radio-select-field
              *ngSwitchCase="'radio_button'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [options]="getOptionsForField(field)">
          </sqtm-core-radio-select-field>
          <sqtm-core-cascading-select-field
              *ngSwitchCase="'option-with-child'"
              [options]="getCascadeOptionsForField(field)"
              [formControl]="getFormControl(field)"
              [attr.data-test-field-name]="field.id">
          </sqtm-core-cascading-select-field>
          <sqtm-core-cascading-select-field
              *ngSwitchCase="'cascading_select'"
              [options]="getCascadeOptionsForField(field)"
              [formControl]="getFormControl(field)"
              [attr.data-test-field-name]="field.id">
          </sqtm-core-cascading-select-field>
          <sqtm-core-checkbox-group-field
              *ngSwitchCase="'checkbox_list'"
              [options]="getCheckboxOptionsForField(field)"
              [formControl]="getFormControl(field)"
              [attr.data-test-field-name]="field.id">
          </sqtm-core-checkbox-group-field>
          <sqtm-core-select-field
              *ngSwitchCase="'multi_select'"
              [formGroup]="formGroup"
              [fieldName]="field.id"
              [mode]="'tags'"
              [options]="getOptionsForField(field)">
          </sqtm-core-select-field>
          <sqtm-app-remote-attachment-field
              *ngSwitchCase="'file_upload'"
              [attr.data-test-field-name]="field.id">
          </sqtm-app-remote-attachment-field>
          <span *ngSwitchDefault>{{getValueForField(field)}}</span>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<div class="modal-overlay modal-overlay-loading" *ngIf="asyncMode">
  <i nz-icon nzType="loading" nzTheme="outline" class="m-auto"></i>
</div>

<ng-template #readonlyForm>
  <ng-container *ngIf="remoteIssueService.searchResultLoaded$ | async">
    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.remote-project.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.state$|async).remoteProjectName}}</span>

    <ng-container *ngFor="let field of currentScheme$ | async">
      <ng-container *ngIf="isFieldVisible(field)">
        <sqtm-core-label [text]="getLabelForField(field)"></sqtm-core-label>
        <span>{{getValueForField(field)}}</span>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
