/**
 *     This file is part of the Squashtest platform.
 *     Copyright (C) Henix, henix.fr
 *
 *     See the NOTICE file distributed with this work for additional
 *     information regarding copyright ownership.
 *
 *     This is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Lesser General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     this software is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Lesser General Public License for more details.
 *
 *     You should have received a copy of the GNU Lesser General Public License
 *     along with this software.  If not, see <http://www.gnu.org/licenses/>.
 */
.sqtm-grid {
  height: 100%;
}

.sqtm-grid-root-wrapper {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.sqtm-grid-footer {
  background-color: crimson;
  display: flex;
  padding: 15px;
}

/**
* The height and min-height must be declared to 0.
* Else Chrome and Edge do not properly honor the flex and the grid is crushed.
* As specified in Flex spec, the min-height is set to auto, that seems to have weird effects with the viewport
* internal component...
 */
.sqtm-grid-root {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  height: 0;
  min-height: 0;
  flex-grow: 1;
}

.sqtm-grid-side-panel {
  max-width: 200px;
  flex: 1;
  background-color: cornflowerblue;
  align-self: flex-end;
}

.sqtm-grid-core {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.sqtm-grid-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.sqtm-grid-row-viewport-wrapper {
  flex: 1;
  overflow: hidden;
}

.sqtm-grid-row-viewport {
  box-sizing: border-box;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}

.sqtm-table-row-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
