<div class="full-width" [formGroup]="formGroup" [attr.data-test-field-name]="fieldName">
  <input
    #textInput nz-input
    [placeholder]="placeholder"
    [formControlName]="fieldName"
    [value]="value"
    (blur)="closeOptionMenu()"
    (keyup.enter)="handleKeyupEnter($event)"
    (keyup.escape)="closeOptionMenu()"
    (keydown.arrowUp)="activateOptionAbove($event)"
    (keydown.arrowDown)="activateOptionBelow($event)">
  <div class="has-error" *ngFor="let error of errors">
    <span [attr.data-test-error-key]="error.provideI18nKey()" class="sqtm-core-error-message">{{error.provideI18nKey()| translate}}</span>
  </div>
  <div class="autocomplete-menu-container" [class.inactive]="!isMenuOpen">
    <div class="autocomplete-menu">
      <sqtm-core-action-autocomplete-field-option
        *ngFor="let option of options; let index = index;"
        [value]="option"
        (mousedown)="selectOptionWithMouse($event, option)"
        (mouseover)="activateOption(index)">
      </sqtm-core-action-autocomplete-field-option>
    </div>
  </div>
</div>

