<sqtm-core-customisable-dialog
  [titleKey]="'sqtm-core.campaign-workspace.dialog.title.automated-tests-execution-supervision'"
  [dialogId]="'automated-tests-execution-supervision'">

  <sqtm-core-dialog-body>
    <ng-container [ngSwitch]="currentStep">
      <div *ngSwitchCase="'select-execution-server'" class="p-5">
        <sqtm-app-automation-project-menu
          *ngFor="let automationProject of configuration.projects;"
          [automationProject]="automationProject"
          [specification]="configuration.specification"
          [formGroup]="formGroup"
          [attr.data-test-component-id]="automationProject.projectId">
        </sqtm-app-automation-project-menu>
      </div>
      <div *ngSwitchCase="'execution-supervision'" class="p-5">
        <sqtm-app-tf-execution-table
          [dataRows]="tfExecutionDataRows"
          [progress]="tfExecutionProgress">
        </sqtm-app-tf-execution-table>
        <sqtm-app-squash-autom-execution-table
          [dataRows]="squashAutomExecutionDataRows">
        </sqtm-app-squash-autom-execution-table>
      </div>
      <div *ngSwitchCase="'close-warning'" class="p-5">
        <div class="flex-row close-warning-content">
            <i nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone" [nzTwotoneColor]="'#FAAD14'">
            </i>
          <span
            [innerHTML]="'sqtm-core.campaign-workspace.dialog.message.automated-tests-execution-supervision.close-warning'
            | translate">
          </span>
        </div>
      </div>
    </ng-container>
  </sqtm-core-dialog-body>
  <sqtm-core-dialog-footer>
    <ng-container [ngSwitch]="currentStep">
      <div *ngSwitchCase="'select-execution-server'">
        <button
          [attr.data-test-dialog-button-id]="'confirm'"
          nz-button
          nzType="primary"
          (click)="confirmSelectServerStep()">
          {{'sqtm-core.generic.label.confirm' | translate}}
        </button>
        <button
          class="m-l-5"
          [attr.data-test-dialog-button-id]="'cancel'"
          nz-button
          nzType="default"
          sqtmCoreDialogClose>
          {{'sqtm-core.generic.label.cancel' | translate}}
        </button>
      </div>
      <div *ngSwitchCase="'execution-supervision'">
        <button
          class="m-l-5"
          [attr.data-test-dialog-button-id]="'close'"
          (click)="closeExecutionPhase()"
          nz-button
          nzType="default">
          {{'sqtm-core.generic.label.close' | translate}}
        </button>
      </div>
      <div *ngSwitchCase="'close-warning'">
        <button
          [attr.data-test-dialog-button-id]="'confirm'"
          nz-button
          nzType="primary"
          (click)="confirmCloseExecutionPhase()">
          {{'sqtm-core.generic.label.confirm' | translate}}
        </button>
        <button
          class="m-l-5"
          [attr.data-test-dialog-button-id]="'cancel'"
          nz-button
          nzType="default"
          (click)="resumeExecutionPhase()">
          {{'sqtm-core.generic.label.cancel' | translate}}
        </button>
      </div>
    </ng-container>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>
