<ng-container *ngIf="authenticatedAdmin$ | async as authenticatedUser">
  <sqtm-core-workspace-with-grid
      [licenseInformation]="adminReferentialDataService.licenseInformation$ | async"
      [isLoggedAsAdmin]="adminReferentialDataService.loggedAsAdmin$ | async"
      [name]="'administration-workspace-entities-customization'"
      [rootUrl]="['administration-workspace', 'entities-customization', 'requirements-links']"
      [disableNavigationToContextualContent]="true">
    <sqtm-core-nav-bar-admin class="full-height" projection="navBar"></sqtm-core-nav-bar-admin>
    <div projection="grid" class="flex-column full-height full-width overflow-hidden">
      <div class="full-height full-width overflow-hidden flex-column">
        <span class="admin-workspace-main-title m-l-50">{{"sqtm-core.administration-workspace.entities-customization.title" | translate}}</span>
        <sqtm-app-requirements-link-grid class="admin-workspace-grid">
        </sqtm-app-requirements-link-grid>
      </div>
    </div>
  </sqtm-core-workspace-with-grid>
</ng-container>
