.test-case-content-body {
  overflow-y: hidden;
  border: solid 1px var(--background-color);
  height: 100%;
  padding-left: 18px;
}

.test-case-content-head {
  margin-bottom: 28px;

  .reference {
    font-size: 16px;
    font-weight: 600;
  }
}

.drop-requirement {
  border: solid 1px var(--current-workspace-main-color);
}

.return {
  i {
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    cursor: pointer;
  }
}
