<ng-container *ngIf="componentData$ | async as componentData; else loading" [sqtmCoreViewId]="'test-case-view'">
  <div class="flex full-height full-width neutral-background-color">
    <div class="flex-column full-width">
      <sqtm-core-entity-view-header class="full-width test-case-content-head p-t-10 p-r-20"
                                    [attachmentCount]="getAttachmentCount(componentData.testCase.attachmentList.attachments)"
                                    (attachmentBadgeClickEvent)="toggleAttachmentPanel()">
        <div projection='actions' class="m-t-6" style="width: 40px">
          <ng-content #projectedButtons select="[projection=detail-buttons]"></ng-content>
            <div *ngIf="showFoldAndCloseButtons" class="flex-column m-t-10" style="width: 40px">
              <sqtm-core-close-button class="m-b-20"></sqtm-core-close-button>
              <sqtm-core-fold-button></sqtm-core-fold-button>
            </div>
        </div>
        <div projection='reference' class="reference">
          <sqtm-core-editable-text-field
            [attr.data-test-field-id]="'entity-reference'"
            [sqtmCoreEntityViewEditableTextField]="'reference'" ngDefaultControl
            [layout]="'compact'"
            placeholder="{{'sqtm-core.test-case-workspace.reference.placeholder' | translate}}"
            [trimValue]="true">
          </sqtm-core-editable-text-field>
        </div>
        <div projection='notifications' class="m-r-40" [attr.data-test-component-id]="'notifications'">
          <div *ngIf="!componentData.milestonesAllowModification"
               [attr.data-test-component-id]="'milestone-locked-warning'"
               nz-tooltip [nzTooltipTitle]="lockedMilestoneMessage" [nzTooltipPlacement]="'bottom'"
               class="font-20-px sqtm-core-error-message">
            <i nz-icon nzType="sqtm-core-nav:milestone" nzTheme="outline"></i>
          </div>
        </div>
        <div *ngIf="isMilestoneModeEnabled()" projection='menu' [attr.data-test-toolbar-button-id]="'action-menu-button'">
          <span class="font-20-px" nz-dropdown [nzDropdownMenu]="actionMenu" [nzPlacement]="'bottomCenter'">
            <i nz-icon nzType="sqtm-core-generic:more" nzTheme="outline" class="current-workspace-button"></i>
          </span>
        </div>

        <div projection='capsule' class="sqtm-core-capsules-container">
          <sqtm-core-capsule-information
              [informationData]="getStatusInformationData(componentData.testCase.status)">
          </sqtm-core-capsule-information>
          <sqtm-core-capsule-information
              [informationData]="getImportanceInformationData(componentData.testCase.importance)">
          </sqtm-core-capsule-information>
          <sqtm-core-capsule-test-case-last-execution-status
            [informationData]="getLastExecutionInformationData(componentData.testCase.lastExecutionStatus)">
          </sqtm-core-capsule-test-case-last-execution-status>
        </div>

      </sqtm-core-entity-view-header>
      <div class="flex-row full-height full-width">
        <div class="flex-fixed-size side-bar">
          <div class="anchor-bar">
            <sqtm-core-anchor>
              <sqtm-core-anchor-group [id]="'content'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'information'"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.information' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-test-case:informations'">
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  [id]="'automation'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.automation' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-test-case:automation'">
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  [id]="'verified-requirements'"
                  [linkHref]="'content'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.coverages' | translate"
                  [iconName]="'sqtm-core-test-case:coverages'">
                  <ng-container *ngIf="testCaseViewService.coveragesCount$ | async as coverageCount">
                    <div *ngIf="coverageCount > 0" class="anchor-counter">
                      <span>{{coverageCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  *ngIf="componentData.testCase.kind !== 'GHERKIN'"
                  [id]="'parameters'"
                  [linkHref]="'content'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.parameters' | translate"
                  [iconName]="'sqtm-core-test-case:param_and_dataset'">
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  *ngIf="componentData.testCase.kind === 'STANDARD'"
                  [id]="'called-test-cases'"
                  [linkHref]="'content'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.called-steps' | translate"
                  [iconName]="'sqtm-core-test-case:called_test_case'">
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>

              <sqtm-core-anchor-group [id]="'steps'">
                <ng-container [ngSwitch]="componentData.testCase.kind">
                  <sqtm-core-anchor-link
                    *ngSwitchCase="'STANDARD'"
                    [linkHref]="'steps'"
                    [id]="'steps'"
                    nz-tooltip nzTooltipPlacement="right"
                    [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.prerequisite-and-test-steps' | translate"
                    [iconName]="'sqtm-core-test-case:test_step'">
                    <ng-container *ngIf="testCaseViewService.stepCount$ | async as stepCount">
                      <div *ngIf="stepCount > 0" class="anchor-counter">
                        <span>{{stepCount}}</span>
                      </div>
                    </ng-container>
                  </sqtm-core-anchor-link>
                  <sqtm-core-anchor-link
                    *ngSwitchCase="'GHERKIN'"
                    [linkHref]="'script'"
                    [id]="'script'"
                    nz-tooltip nzTooltipPlacement="right"
                    [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.script' | translate"
                    [iconName]="'unordered-list'">
                  </sqtm-core-anchor-link>
                  <sqtm-core-anchor-link
                    *ngSwitchCase="'KEYWORD'"
                    [linkHref]="'keywordSteps'"
                    [id]="'keywordSteps'"
                    nz-tooltip nzTooltipPlacement="right"
                    [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.test-steps' | translate"
                    [iconName]="'unordered-list'">
                    <ng-container *ngIf="testCaseViewService.stepCount$ | async as stepCount">
                      <div *ngIf="stepCount > 0" class="anchor-counter">
                        <span>{{stepCount}}</span>
                      </div>
                    </ng-container>
                  </sqtm-core-anchor-link>
                </ng-container>
              </sqtm-core-anchor-group>


              <sqtm-core-anchor-group [id]="'executions'">
                <sqtm-core-anchor-link
                  [linkHref]="'executions'"
                  [id]="'executions'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.executions' | translate"
                  [iconName]="'sqtm-core-test-case:executions'">
                  <ng-container *ngIf="componentData.testCase.nbExecutions>0">
                    <div class="anchor-counter">
                      <span>{{componentData.testCase.nbExecutions}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>

              <sqtm-core-anchor-group *ngIf="componentData.projectData.bugTracker" [id]="'issues'">
                <sqtm-core-anchor-link
                  [linkHref]="'issues'"
                  [id]="'issues'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.issues' | translate"
                  [iconName]="'sqtm-core-generic:issues'">
                  <div *ngIf="componentData.testCase.nbIssues > 0" class="anchor-counter">
                    <span>{{componentData.testCase.nbIssues}}</span>
                  </div>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
            </sqtm-core-anchor>
          </div>
        </div>
        <div #content class="test-case-content-body full-height full-width">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <sqtm-core-attachment-drawer
    [canAttach]="componentData.permissions.canAttach && componentData.milestonesAllowModification">
  </sqtm-core-attachment-drawer>
  <sqtm-core-drawer
    [localTheme]="requirementWorkspace"
    [isVisible]="componentData.testCase.uiState.openRequirementTreePicker"
    [titleKey]="'sqtm-core.tree-picker.requirement.title'"
    (close)="closeRequirementPicker()">
    <i projection="icons" nz-icon nzType="sqtm-core-test-case:help" nzTheme="fill"
       class="m-l-10 font-20-px current-workspace-main-color"
       nz-tooltip [nzTooltipTitle]="'sqtm-core.tree-picker.requirement.test-case-coverages' | translate"></i>
    <sqtm-core-requirement-picker [pickerPersistenceKey]="'bind-requirement-to-test-case'"
                                  *ngIf="componentData.testCase.uiState.openRequirementTreePicker">
    </sqtm-core-requirement-picker>
  </sqtm-core-drawer>
  <sqtm-core-drawer
    [localTheme]="testCaseWorkspace"
    [titleKey]="'sqtm-core.tree-picker.test-case.title'"
    [isVisible]="componentData.testCase.uiState.openTestCaseTreePicker"
    (close)="closeTestCasePickerDrawer()">
    <i projection="icons" nz-icon nzType="sqtm-core-test-case:help" nzTheme="fill"
       class="m-l-10 font-20-px current-workspace-main-color"
       nz-tooltip [nzTooltipTitle]="'sqtm-core.tree-picker.test-case.test-case-call' | translate"></i>
    <sqtm-core-test-case-picker *ngIf="componentData.testCase.uiState.openTestCaseTreePicker"
                                [pickerPersistenceKey]="'call-test-case'">
    </sqtm-core-test-case-picker>
  </sqtm-core-drawer>
</ng-container>

<nz-dropdown-menu #actionMenu="nzDropdownMenu">
  <ul nz-menu [attr.data-test-menu-id]="'action-menu'">
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'create-test-case-version'"
        (click)="createNewTestCaseVersion()">
      {{ ('sqtm-core.generic.label.add-new-version' | translate) }}
    </li>
  </ul>
</nz-dropdown-menu>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>

<ng-template #lockedMilestoneMessage>
  {{'sqtm-core.entity.generic.milestone.locked'|translate}}
</ng-template>
