.panel-buttons {
  display: flex;
  align-items: center;

  & > * {
    padding-left: 5px;
    padding-right: 5px;
  }

  .buttons-separator {
    padding: 0;
    margin: 0 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    width: 1px;
    height: 23px;
  }
}
