<div class="full-width full-height flex-column neutral-background-color">
  <div class="m-5 font-20-px flex-fixed-size flex-row"
       [attr.data-test-toolbar-id]="'test-case-toolbar'">
        <span>
        <i nz-icon nz-dropdown [nzDropdownMenu]="creationMenu"
           nzType="sqtm-core-tree:add"
           nzTheme="outline"
           [ngClass]="(!creationMenuButtonActivation.canCreateTestCase && !creationMenuButtonActivation.canCreateFolder)? 'label-color action-icon-size' : 'current-workspace-button action-icon-size'"
           [attr.data-test-toolbar-button-id]="'create-button'">
        </i>
        </span>
    <sqtm-core-toggle-icon class="m-l-30"
                           [attr.data-test-toolbar-button-id]="'copy-button'"
                           [active]="tree.canCopy$ | async"
                           (clickedInActiveMode)="copy()">
      <i nz-icon nzType="sqtm-core-generic:copy" nzTheme="outline"
         nz-tooltip
         [nzTooltipTitle]="'sqtm-core.generic.label.copy'|translate"
         nzTooltipPlacement="bottom"
         class="action-icon-size"></i>
    </sqtm-core-toggle-icon>
    <sqtm-core-toggle-icon class="m-l-10"
                           [attr.data-test-toolbar-button-id]="'paste-button'"
                           [active]="tree.canPaste$ | async"
                           (click)="paste()">
      <i nz-icon nzType="sqtm-core-generic:paste" nzTheme="outline"
         nz-tooltip class="action-icon-size"
         [nzTooltipTitle]="'sqtm-core.generic.label.paste-with-shortcut'|translate"
         nzTooltipPlacement="bottom"></i>
    </sqtm-core-toggle-icon>
    <sqtm-core-toggle-icon class="m-l-10"
                           [attr.data-test-toolbar-button-id]="'delete-button'"
                           [active]="tree.canDelete$ | async"
                           (click)="delete()">
      <i nz-icon nzType="sqtm-core-generic:delete" nzTheme="outline"
         nz-tooltip class="action-icon-size"
         [nzTooltipTitle]="'sqtm-core.generic.label.delete-with-shortcut'|translate"
         nzTooltipPlacement="bottom"></i>
    </sqtm-core-toggle-icon>
    <ng-container *ngIf="this.referentialDataService.milestoneModeData$|async as milestoneState">
      <span *ngIf="milestoneState.milestoneModeEnabled && milestoneState.milestoneFeatureEnabled" class="m-l-20">
       <i nz-dropdown [nzDropdownMenu]="milestoneMenu" [nzPlacement]="'bottomCenter'"
          nz-icon nzType="sqtm-core-tree:milestones"
          class="m-l-30 current-workspace-button action-icon-size"
          [attr.data-test-toolbar-button-id]="'milestone-button'"></i>
      </span>
    </ng-container>

    <span class="m-l-auto">
          <i nz-icon nzType="sqtm-core-tree:import_export" nzTheme="outline"
             nz-dropdown [nzDropdownMenu]="importExportMenu"
             class="current-workspace-button action-icon-size"
             [attr.data-test-toolbar-button-id]="'import-export'">
        </i>
        </span>

    <span class="m-l-10">
          <i nz-icon nzType="sqtm-core-tree:sort" nzTheme="outline"
             nz-popover [nzPopoverContent]="sortMenu"
             class="current-workspace-button action-icon-size"
             [style.transform-y]="'rotate(90)'"
             [attr.data-test-toolbar-button-id]="'sort-button'"></i>
        </span>
    <span class="m-l-10 m-r-20" (click)="navigateToSearch()">
           <i nz-icon
              nzType="sqtm-core-tree:search"
              nzTheme="outline"
              class="current-workspace-button action-icon-size"
              nz-tooltip
              [nzTooltipTitle]="'sqtm-core.generic.label.research'|translate"
              [attr.data-test-toolbar-button-id]="'research-button'"></i>
        </span>
  </div>
  <div class="full-height full-width" sqtmCoreTreeKeyboardShortcut>
    <sqtm-core-grid></sqtm-core-grid>
  </div>
</div>

<ng-template #sortMenu>
  <div [attr.data-test-menu-id]="'sort-menu'">
    <nz-radio-group [(ngModel)]="sortValue" (ngModelChange)="changeSort()">
      <label nz-radio nzValue="ALPHABETICAL"
             [attr.data-test-menu-item-id]="'sort-alphabetical'"
      >{{ ('sqtm-core.tree-picker.generic.sort.alphabetic' | translate) }}</label>
      <label nz-radio nzValue="POSITIONAL"
             [attr.data-test-menu-item-id]="'sort-positional'"
      >{{ ('sqtm-core.tree-picker.generic.sort.positional' | translate) }}</label>
    </nz-radio-group>
  </div>
</ng-template>

<nz-dropdown-menu #milestoneMenu="nzDropdownMenu">
  <ul nz-menu [attr.data-test-menu-id]="'milestone-menu'">
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'change-active-milestone'"
        (click)="openMilestoneSelect()">
      {{ ('sqtm-core.dialog.milestone.picker.single' | translate) }}
    </li>
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'show-active-milestone-dashboard'"
        (click)="navigateToMilestoneDashboard()">
      {{ ('sqtm-core.tree-picker.generic.milestone.dashboard' | translate) }}
    </li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #creationMenu="nzDropdownMenu">
  <ul nz-menu [attr.data-test-menu-id]="'create-menu'">
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'new-test-case'"
        [nzDisabled]="!creationMenuButtonActivation.canCreateTestCase"
        (click)="openCreateTestCase()">
      {{ ('sqtm-core.test-case-workspace.tree.button.new-test-case' | translate) }}
    </li>
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'new-folder'"
        [nzDisabled]="!creationMenuButtonActivation.canCreateFolder"
        (click)="openCreateFolder()">
      {{ ('sqtm-core.test-case-workspace.tree.button.new-folder' | translate) }}
    </li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #importExportMenu="nzDropdownMenu">
  <ul nz-menu [attr.data-test-menu-id]="'import-export-menu'">
    <li nz-menu-item [attr.data-test-menu-item-id]="'import-test-case'"
        [nzDisabled]="!(isAdminOrProjectManager$ | async)" (click)="import()">
      {{'sqtm-core.generic.label.import' | translate}}
    </li>
    <li nz-menu-item [attr.data-test-menu-item-id]="'export-test-case'"
        [nzDisabled]="!(tree.hasSelectedRows$ && tree.canExport$ | async)" (click)="export()">
      {{'sqtm-core.generic.label.export' | translate}}
    </li>
    <li nz-menu-item [attr.data-test-menu-item-id]="'add-test-case'"
        [nzDisabled]="!canAddTcFromRequirement()"
        (click)="addTcFromRequirement()">
      {{'sqtm-core.test-case-workspace.create-tc-from-req.label' | translate}}
    </li>
    <li nz-menu-item [attr.data-test-menu-item-id]="'automation'"
        [nzDisabled]="!(canTransmit$ | async)" (click)="transmit()">
      {{'sqtm-core.generic.label.transmit-to-automation' | translate}}
    </li>
    <li nz-menu-item [attr.data-test-menu-item-id]="'export-gherkin-script'"
        [nzDisabled]="!(tree.hasSelectedRows$ && tree.canExport$ | async)"
        (click)="exportGherkinScripts()">
      {{ 'sqtm-core.test-case-workspace.tree.button.export-gherkin-script' | translate }}
    </li>
    <li nz-menu-item [attr.data-test-menu-item-id]="'export-bdd-script'"
        [nzDisabled]="!(tree.hasSelectedRows$ && tree.canExport$ | async)"
        (click)="exportBddScripts()">
      {{ 'sqtm-core.test-case-workspace.tree.button.export-bdd-script' | translate }}
    </li>
  </ul>
</nz-dropdown-menu>
