<div class="txt-ellipsis">
  <span class="label-color">{{filter.label || filter.i18nLabelKey|translate|capitalize}} :&nbsp;</span>
  <span [attr.data-test-component-id]="'grid-filter-field-value'">
    <ng-container *ngIf="getDisplayValue().length > 0"> {{'sqtm-core.entity.query.operation.' + filter.operation | translate | capitalize}}</ng-container> {{getDisplayValue()}}
  </span>
</div>
