.capsule {
  border-radius: 20px;
  background-color: var(--container-background-color);
  padding: 2px 20px 2px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &-icon {
    margin: auto 5px auto 0;
  }
}
