.autocomplete-menu-container {
  pointer-events: auto;
  position: relative;
  z-index: 1000;
  border: 1px solid var(--container-border-color);
  &.inactive {
    display: none;
  }
}

.autocomplete-menu {
  background-color: #ffffff;
  margin-top: 4px;
  padding-top: 4px;
  border-radius: 4px;
  pointer-events: auto;
}
