<sqtm-core-customisable-dialog [dialogId]="'requirement-export-dialog'"
                               [titleKey]="'sqtm-core.requirement-workspace.dialog.export.title.export-requirement'">
  <sqtm-core-dialog-body>
    <ng-container>
      <div class="sqtm-core-dialog-form p-10" [formGroup]="formGroup">
        <label
          class="label label__align_right">{{'sqtm-core.requirement-workspace.dialog.export.field.format' | translate}}</label>
        <div class="flex-column">
          <sqtm-core-select-field [formGroup]="formGroup" [options]="getType()"
                                  [fieldName]="'type'"></sqtm-core-select-field>
          <ng-container *ngIf="formGroup.controls.type.value === 'simple'; else fullMessage">
              <span
                class="format-message">{{'sqtm-core.requirement-workspace.dialog.export.field.simple-export.message' | translate}}</span>
          </ng-container>
          <ng-template #fullMessage>
              <span
                class="format-message">{{'sqtm-core.requirement-workspace.dialog.export.field.full-export.message' | translate}}</span>
          </ng-template>
        </div>
        <label
          class="label label__align_right">{{'sqtm-core.requirement-workspace.dialog.export.file-name' | translate}}</label>
        <sqtm-core-text-field [fieldName]="'fileName'" [formGroup]="formGroup"></sqtm-core-text-field>
        <ng-container *ngIf="formGroup.controls.type.value !== 'simple'">
        <label
          class="label label__align_right">{{'sqtm-core.requirement-workspace.dialog.export.options' |translate}}</label>
        <div class="flex-row p-5">
             <span style="margin-left: 0" nz-checkbox [formGroup]="formGroup" formControlName="editableRichText"
                   ngDefaultControl>
              {{'sqtm-core.requirement-workspace.dialog.export.rich-text-format' |translate}}
            </span>
          <i class="current-workspace-main-color font-16-px" nz-icon nzType="sqtm-core-requirement:help" nzTheme="fill"
             nz-tooltip
             [nzTooltipTitle]="'sqtm-core.requirement-workspace.dialog.message.rich-text-format'|translate"></i>
        </div>
        </ng-container>
      </div>
    </ng-container>
  </sqtm-core-dialog-body>
  <sqtm-core-dialog-footer>
    <a
      [attr.data-test-dialog-button.id]="'export'"
      nz-button [href]="buildExportUrl()" [download]="getFileName()" [nzType]="'primary'"
      (click)="close()">{{'sqtm-core.generic.label.export' | translate}}</a>
    <button
      [attr.data-test-dialog-button-id]="'close'"
      class="flex-fixed-size m-l-10"
      nz-button nzType="default"
      sqtmCoreDialogClose>
      {{'sqtm-core.generic.label.cancel' | translate}}
    </button>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>

