<ng-container *ngIf="row && row.data[columnDisplay.id]">
  <div class="full-width full-height interactive-container flex-column"
       [class.__hover_pointer]="canEdit$|async"
       (click)="showExecutionStatusList()">
    <div #executionStatus class="status-badge"
         [attr.data-test-cell-id]="'execution-status-cell'"
         [style.backgroundColor]="color"
         nz-tooltip [nzTooltipTitle]="i18nExecutionStatusKey | translate | capitalize">
    </div>
    <ng-template #templatePortalContent>
      <sqtm-core-list-panel [selectedItem]="row.data[columnDisplay.id]"
                            (itemSelectionChanged)="change($event)"
                            [items]="panelItems$|async">
      </sqtm-core-list-panel>
    </ng-template>
  </div>
</ng-container>
