<div class="flex-fixed-size buttons-area"
     [attr.data-test-element-id]="'button-area'">
  <div class="full-width">
    <div class="flex-row full-width m-t-5">
      <div class="execution-step-info flex full-width">
        <ng-container *ngIf="step.extended then collapseButtonTemplate else expandButtonTemplate">
        </ng-container>

        <div class="step-execution-status flex m-r-15"
             [style.background-color]="getExecutionStatusColor(step.executionStatus)"
             [style.border-color]="getExecutionStatusColor(step.executionStatus)">
                <span class="step-execution-status-text m-l-6 m-r-6"
                      [style.color]="getStepStatusTextColor()">{{getStepStatusI18nKey() | translate}}</span>
        </div>
        <label *ngIf="step.lastExecutedOn ">{{getLastExecution(step.lastExecutedOn, step.lastExecutedBy)}}</label>
        <span *ngIf="step.comment" class="info-icon m-l-15">
          <i nz-icon nzType="sqtm-core-campaign:comments" nzTheme="outline"></i>
        </span>
        <div *ngIf="step.attachmentList.attachments.ids.length > 0" class="info-icon counter-icon-container m-l-10">
          <i nz-icon nzType="sqtm-core-generic:attachments" nzTheme="outline"></i>
          <div class="flex">
               <span class="counter">{{step.attachmentList.attachments.ids.length}}</span>
          </div>
        </div>
        <div *ngIf="issuesNb > 0" class="info-icon counter-icon-container m-l-10">
          <i nz-icon nzType="sqtm-core-generic:issues" nzTheme="outline"></i>
          <div class="flex">
            <span class="counter">{{issuesNb}}</span>
          </div>
        </div>
      </div>
      <div class="action-buttons flex full-width">
        <button *ngIf="permissions.canExecute && milestonesAllowModification && execution.executionMode === 'MANUAL'"
                class="status-button"
                nz-button
                nz-tooltip="{{executionStatus.SUCCESS.i18nKey | translate | capitalize}}"
                [nzTooltipPlacement]="'bottom'" [nzSize]="'small'"
                [attr.data-test-execution-status]="executionStatus.SUCCESS.id"
                [style.background-color]="getExecutionStatusColor(executionStatus.SUCCESS.id)"
                [style.border-color]="getExecutionStatusColor(executionStatus.SUCCESS.id)"
                (click)="changeExecutionStepStatus(executionStatus.SUCCESS.id)"
        >
          <span class="m-l-4"></span>
        </button>
        <button *ngIf="permissions.canExecute && milestonesAllowModification && execution.executionMode === 'MANUAL'"
                class="status-button"
                nz-button
                nz-tooltip="{{executionStatus.FAILURE.i18nKey | translate | capitalize}}"
                [nzTooltipPlacement]="'bottom'" [nzSize]="'small'"
                [attr.data-test-execution-status]="executionStatus.FAILURE.id"
                [style.background-color]="getExecutionStatusColor(executionStatus.FAILURE.id)"
                [style.border-color]="getExecutionStatusColor(executionStatus.FAILURE.id)"
                (click)="changeExecutionStepStatus(executionStatus.FAILURE.id)"
        >
          <span class="m-l-4"></span>
        </button>
        <button *ngIf="permissions.canExecute && milestonesAllowModification && execution.executionMode === 'MANUAL'"
                class="status-button"
                nz-button
                nz-tooltip="{{executionStatus.BLOCKED.i18nKey | translate | capitalize}}"
                [nzTooltipPlacement]="'bottom'" [nzSize]="'small'"
                [attr.data-test-execution-status]="executionStatus.BLOCKED.id"
                [style.background-color]="getExecutionStatusColor(executionStatus.BLOCKED.id)"
                [style.border-color]="getExecutionStatusColor(executionStatus.BLOCKED.id)"
                (click)="changeExecutionStepStatus(executionStatus.BLOCKED.id)"
        >
          <span class="m-l-4"></span>
        </button>

        <i *ngIf="permissions.canExecute && milestonesAllowModification && execution.executionMode === 'MANUAL'"
           [attr.data-test-toolbar-button-id]="'optional-status-button'"
           class="m-r-5 tree-icon-size current-workspace-button" nz-icon nzType="sqtm-core-generic:more"
           nzTheme="outline" nz-dropdown [nzDropdownMenu]="optionalStatusMenu"></i>

        <nz-dropdown-menu #optionalStatusMenu="nzDropdownMenu">
          <ul [attr.data-test-menu-id]="'optional-status-menu'" nz-menu>
            <li nz-menu-item
                *ngIf="isVisible(executionStatus.UNTESTABLE.id)"
                [attr.data-test-menu-item-id]="executionStatus.UNTESTABLE.id"
                (click)="changeExecutionStepStatus(executionStatus.UNTESTABLE.id)">
              <div class="flex-row">
                <div class="optional-status"
                     [style.background-color]="getExecutionStatusColor(executionStatus.UNTESTABLE.id)"
                     [style.border-color]="getExecutionStatusColor(executionStatus.UNTESTABLE.id)">
                </div>
                {{executionStatus.UNTESTABLE.i18nKey|translate| capitalize}}
              </div>
            </li>
            <li nz-menu-item
                *ngIf="isVisible(executionStatus.SETTLED.id)"
                [attr.data-test-menu-item-id]="executionStatus.SETTLED.id"
                (click)="changeExecutionStepStatus(executionStatus.SETTLED.id)">
              <div class="flex-row">
                <div class="optional-status"
                     [style.background-color]="getExecutionStatusColor(executionStatus.SETTLED.id)"
                     [style.border-color]="getExecutionStatusColor(executionStatus.SETTLED.id)">
                </div>
                {{executionStatus.SETTLED.i18nKey|translate| capitalize}}
              </div>
            </li>
            <li nz-menu-item [attr.data-test-menu-item-id]="executionStatus.READY.id"
                (click)="changeExecutionStepStatus(executionStatus.READY.id)">
              <div class="flex-row">
                <div class="optional-status"
                     [style.background-color]="getExecutionStatusColor(executionStatus.READY.id)"
                     [style.border-color]="getExecutionStatusColor(executionStatus.READY.id)">
                </div>
                {{executionStatus.READY.i18nKey|translate| capitalize}}
              </div>
            </li>
          </ul>
        </nz-dropdown-menu>

        <i *ngIf="isActionMenuVisible"
           [attr.data-test-toolbar-button-id]="'step-action-button'"
           [nzDropdownMenu]="menu"
           class="m-r-5 tree-icon-size current-workspace-button"
           nz-dropdown
           nz-icon
           nzTheme="outline"
           nzType="sqtm-core-generic:plus">
        </i>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul [attr.data-test-menu-id]="'step-action-menu'" nz-menu>
            <li (click)="addComment()"
                *ngIf="canAddComment"
                [attr.data-test-menu-item-id]="'add-comment'"
                nz-menu-item>
              {{'sqtm-core.campaign-workspace.execution-page.comment.add-comment.label'|translate}}
            </li>
            <li *ngIf="canAddAttachment" nz-menu-item [attr.data-test-menu-item-id]="'add-attachments'">
              <sqtm-core-attachment-file-selector (uploadFilesEvent)="addAttachmentToStep($event)">
                {{'sqtm-core.entity.attachment.add-attachment.label' | translate}}
              </sqtm-core-attachment-file-selector>
            </li>
            <li (click)="addIssue(false)"
                *ngIf="canAddIssue"
                [attr.data-test-menu-item-id]="'add-issue'"
                nz-menu-item>
              {{'sqtm-core.campaign-workspace.execution-page.issue.add-issue'|translate}}
            </li>
            <li (click)="addIssue(true)"
                *ngIf="canAddIssue"
                [attr.data-test-menu-item-id]="'add-issue'"
                nz-menu-item>
              {{'sqtm-core.campaign-workspace.dialog.title.attach-issue'|translate}}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</div>

<ng-template #collapseButtonTemplate>
  <i [attr.data-test-component-id]="'collapse-step'" class="m-r-20 arrow-button" nz-icon nzType="caret-down"
     nzTheme="outline"
     (click)="toggleStep()"></i>
</ng-template>

<ng-template #expandButtonTemplate>
  <i [attr.data-test-component-id]="'extend-step'" class="m-r-20" nz-icon nzType="caret-right" nzTheme="outline"
     (click)="toggleStep()"></i>
</ng-template>
