#dataset-input {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.test-case-view-icon {
  &-color {
    color: var(--current-workspace-main-color);
  }
}

.parameter-add-grid-container {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
  height: auto;
}

.parameter-add-grid-group-two-column {
  grid-column-start: 1;
  grid-column-end: 3;
}

.add-dataset {
  width: max-content;
  cursor: pointer;
  border: 0.5px transparent solid;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  &:hover {
    border-color: var(--current-workspace-main-color);
  }
}
