<div class="full-width overflow-hidden m-b-20" [formGroup]="subFormGroup"
     [attr.data-test-component-id]="reportInput.name">
  <div>
    <span class="label-color" [attr.data-test-component-id]="'criteria-name'">{{reportInput.label}}</span>
    <!--    As 2.0 the only possible error here is 'required' so no need to make multiple error system-->
    <span [attr.data-test-component-id]="'criteria-errors'" class="m-l-10 sqtm-core-error-message" *ngIf="errors">
      {{'sqtm-core.validation.errors.required'|translate}}
    </span>
  </div>
  <div class="full-width p-l-20">
    <ng-container [ngSwitch]="reportInput.type">
      <ng-container *ngSwitchCase="ReportInputType.RADIO_BUTTONS_GROUP">
        <nz-radio-group [formControlName]="reportInput.name" (ngModelChange)="showControl($event)">
          <label class="flex-row" *ngFor="let option of reportInput.options"
                 nz-radio [nzValue]="option.value"
                 [attr.data-test-option-id]="option.givesAccessTo || option.name">
            <span class="m-r-20">{{option.label}}</span>
            <ng-container [ngSwitch]="option.contentType">
              <ng-container *ngSwitchCase="ReportInputType.PROJECT_PICKER">
                <sqtm-app-form-project-picker [formControlName]="option.givesAccessTo">
                </sqtm-app-form-project-picker>
              </ng-container>
              <ng-container *ngSwitchCase="ReportInputType.MILESTONE_PICKER">
                <sqtm-app-form-milestone-picker [formControlName]="option.givesAccessTo">
                </sqtm-app-form-milestone-picker>
              </ng-container>
              <ng-container *ngSwitchCase="ReportInputType.TREE_PICKER">
                <sqtm-app-form-test-case-tree-picker *ngIf="option.nodeType === 'TEST_CASE'"
                                                     [formControlName]="option.givesAccessTo"></sqtm-app-form-test-case-tree-picker>
                <sqtm-app-form-requirement-tree-picker *ngIf="option.nodeType === 'REQUIREMENT'"
                                                       [formControlName]="option.givesAccessTo">
                </sqtm-app-form-requirement-tree-picker>
                <sqtm-app-form-campaign-tree-picker *ngIf="option.nodeType === 'CAMPAIGN'"
                                                       [formControlName]="option.givesAccessTo">
                </sqtm-app-form-campaign-tree-picker>
              </ng-container>
              <ng-container *ngSwitchCase="ReportInputType.TAG_PICKER">
                <sqtm-app-form-tag-picker [bindableEntity]="option.bindableEntity"
                                          [criteriaFormControlName]="option.givesAccessTo"
                                          [criteriaFormGroup]="subFormGroup">
                </sqtm-app-form-tag-picker>
              </ng-container>
            </ng-container>

          </label>
        </nz-radio-group>
      </ng-container>
      <ng-container *ngSwitchCase="ReportInputType.CHECKBOXES_GROUP">
        <div class="full-width m-t-5">
          <nz-checkbox-wrapper>
            <div nz-row *ngFor="let option of reportInput.options">
              <label nz-checkbox [formControlName]="option.givesAccessTo"
                     [attr.data-test-option-id]="option.givesAccessTo || option.name"
                     [class.m-l-10]="option.disabledBy != null"
                     [class.disabled-option]="optionIsDisabled(option)">
                {{option.label}}
              </label>
            </div>

          </nz-checkbox-wrapper>

        </div>
      </ng-container>
      <ng-container *ngSwitchCase="ReportInputType.DROPDOWN_LIST">
        <nz-select [formControlName]="reportInput.name" style="width: 200px">
          <nz-option *ngFor="let option of reportInput.options" [nzValue]="option.value"
                     [nzLabel]="option.label">{{option.label}}</nz-option>
        </nz-select>
      </ng-container>
    </ng-container>
  </div>
</div>
