<sqtm-app-search-view [workspaceName]="workspaceName"
                      [titleKey]="titleKey"
                      [filters]="filters"
                      [resultTitleKey]="'sqtm-core.search.generic.results.associated-test-cases'"
                      [filterGroups]="filterGroups">
  <div [attr.data-test-toolbar-id]="'requirement-search-toolbar'"
       class="current-workspace-main-color font-20-px m-r-10 flex-row button-bar">
    <sqtm-core-toggle-icon [active]="hasSelectedRows$ | async" (clickedInActiveMode)="linkSelection()">
      <i [attr.data-test-component-id]="'link-selection-button'" nz-icon nzType="sqtm-core-generic:link_selection"
         class="action-icon-size" nzTheme="outline"
         nz-tooltip="{{ 'sqtm-core.search.generic.link.selection' | translate }}"
      ></i>
    </sqtm-core-toggle-icon>
    <sqtm-core-toggle-icon [active]="true"
                           (clickedInActiveMode)="linkAll()">
      <i [attr.data-test-component-id]="'link-all-button'" class="action-icon-size" nz-icon
         nzType="sqtm-core-generic:link_all" nzTheme="outline"
         nz-tooltip="{{ 'sqtm-core.search.generic.link.all' | translate }}"></i>
    </sqtm-core-toggle-icon>
    <sqtm-core-toggle-icon [active]="true" (clickedInActiveMode)="navigateBack()">
      <i [attr.data-test-component-id]="'cancel-button'" class="action-icon-size" nz-icon
         nzType="close" nzTheme="outline"
         nz-tooltip="{{ 'sqtm-core.generic.label.cancel' | translate }}"></i>
    </sqtm-core-toggle-icon>
  </div>
</sqtm-app-search-view>
