<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height">
    <div class="full-width full-height p-r-15" style="overflow-y: auto">
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <ng-container *ngIf="!componentData.campaignFolder.shouldShowFavoriteDashboard; else favoriteDashboard">
          <div class="flex-row" style="justify-content: flex-end">
            <button
              class="flex-fixed-size m-l-5" [attr.data-test-component-id]="'favorite-button'"
              nz-button [nzType]="'primary'" [nzSize]="'small'"
              nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.favorite' | translate"
              (click)="displayFavoriteDashboard($event)">
                <span>
                  {{'sqtm-core.generic.label.favorite' | translate}}
                </span>
            </button>
          </div>

          <nz-collapse-panel [nzHeader]="statisticsTitle" [nzActive]="true">
            <ng-template #statisticsTitle>
              <div class="entity-view-collapse-panel-title">
                {{'sqtm-core.campaign-workspace.campaign-folder-page.statistics.blocks.stats' | translate}}
              </div>
            </ng-template>
            <div *ngIf="componentData.campaignFolder.campaignFolderStatisticsBundle; else loadingPanel" class="full-width">
              <sqtm-app-campaign-statistics-charts-panel
                *ngIf="hasTestPlanItems(componentData.campaignFolder.campaignFolderStatisticsBundle.campaignTestCaseStatusStatistics); else noTestPlanItem"
                [statistics]="componentData.campaignFolder.campaignFolderStatisticsBundle"
                [disabledExecutionStatus]="componentData.projectData.disabledExecutionStatus"
                [scope]="getScope(componentData.campaignFolder)"></sqtm-app-campaign-statistics-charts-panel>
              <ng-template #noTestPlanItem>
                <div class="full-width flex-row" [attr.data-test-component-id]="'empty-test-plan-error'">
                  {{'sqtm-core.campaign-workspace.campaign-page.statistics.charts.no-test-plan-items.campaign'|translate}}
                </div>
              </ng-template>
            </div>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="inventoryTitle" [nzActive]="true">
            <ng-template #inventoryTitle>
              <div class="entity-view-collapse-panel-title">
                {{'sqtm-core.campaign-workspace.campaign-folder-page.statistics.blocks.inventory' | translate}}
              </div>
            </ng-template>
            <div *ngIf="componentData.campaignFolder.campaignFolderStatisticsBundle; else loadingPanel" class="full-width">
              <sqtm-app-campaign-folder-inventory
                [inventory]="componentData.campaignFolder.campaignFolderStatisticsBundle.campaignTestInventoryStatisticsList"
                [disabledExecutionStatus]="componentData.projectData.disabledExecutionStatus"
              ></sqtm-app-campaign-folder-inventory>
            </div>
          </nz-collapse-panel>
        </ng-container>


        <ng-template #favoriteDashboard>
          <nz-collapse-panel [nzHeader]="favoriteDashboardTitle" [nzActive]="true" [nzExtra]="defaultButton">
            <ng-template #defaultButton>
              <button class="flex-fixed-size m-l-5"
                      [attr.data-test-component-id]="'default-button'"
                      nz-button [nzType]="'primary'" [nzSize]="'small'"
                      nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                      (click)="displayDefaultDashboard($event)">
                {{'sqtm-core.generic.label.default' | translate}}
              </button>
            </ng-template>
            <ng-template #favoriteDashboardTitle>
              <div class="entity-view-collapse-panel-title">
                <ng-container *ngIf="componentData.campaignFolder.dashboard;else defaultDashboardName">
                  {{componentData.campaignFolder.dashboard.name}}
                </ng-container>
                <ng-template #defaultDashboardName>
                  <span>{{'sqtm-core.generic.label.dashboard.title' | translate}}</span>
                </ng-template>
              </div>
            </ng-template>
            <div
              *ngIf="componentData.campaignFolder.dashboard && componentData.campaignFolder.canShowFavoriteDashboard; else noFavoriteDashBoard"
              style="height: 84vh" class="full-width">
              <ng-container *ngIf="componentData.campaignFolder.dashboard.chartBindings.length !== 0 ||
              componentData.campaignFolder.dashboard.reportBindings.length !== 0; else emptyDashboardMessage">
                <sqtm-app-custom-dashboard
                  [chartBindings]="getChartBindings(componentData.campaignFolder.dashboard)"></sqtm-app-custom-dashboard>
              </ng-container>
              <ng-template #emptyDashboardMessage>
                <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
              </ng-template>
            </div>
            <ng-template #noFavoriteDashBoard>
              <div style="height: 84vh; text-align: center">
                <span style="font-weight: 600">
                  {{'sqtm-core.generic.workspace.messages.add-favorite-dashboard' | translate}}
                </span>
              </div>
            </ng-template>
          </nz-collapse-panel>
        </ng-template>
      </nz-collapse>
    </div>
  </div>
</ng-container>

<ng-template #loadingPanel>
  <div class="full-width">
    <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
  </div>
</ng-template>
