<ng-container *ngIf="testCaseViewComponentData$| async as componentData">
  <div>
    <div class="flex-row m-t-10">
      <div>
        <i [attr.data-test-component-id]="'toggle-call-step'" class="m-r-10" nz-icon
           [nzType]="callTestStep.extended?'caret-down':'caret-right'" nzTheme="outline"
           (click)="toggleStep(callTestStep)"></i>
        {{'sqtm-core.entity.call-step.label'|translate}} "<a [attr.data-test-field-id]="'calledTestCase'"
                                                             [routerLink]="getCalledTestCaseLink(callTestStep)">{{callTestStep.calledTcName}}</a>"
        {{'sqtm-core.entity.call-step.dataset.using-dataset' | translate}}
        <ng-container *ngIf="editable; else readOnlyDataSetLabel">
          "<a [attr.data-test-field-id]="'dataset'"
              (click)="chooseDataset(componentData.testCase.name)">{{getDataSetLabel()}}</a>"
        </ng-container>
      </div>
      <div #buttons class="flex-fixed-size action-buttons-wrapper step-list-element-buttons">
        <div class="flex-row full-width action-buttons current-workspace-main-color">
          <i *ngIf="editable" class="m-r-5" nz-icon nzType="plus" nzTheme="outline"
             (click)="addActionStepAfter(this.callTestStep.stepOrder)"></i>
          <i class="m-r-5" nz-icon nzType="copy" nzTheme="outline" (click)="copyStep(this.callTestStep)"></i>
          <i *ngIf="editable" class="m-r-5" nz-icon nzType="copy" nzTheme="fill"
             (click)="pasteStep(this.callTestStep)"></i>
          <i *ngIf="editable" class="m-r-5" nz-icon nzType="delete" nzTheme="outline"
             (click)="deleteStep(this.callTestStep)"></i>
          <i [attr.data-test-toolbar-button-id]="'step-action-button'" class="m-r-5" nz-icon nzType="ellipsis"
             nzTheme="outline" nz-dropdown [nzDropdownMenu]="menu"
             (nzVisibleChange)="onMenuVisibilityChange($event)"></i>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul [attr.data-test-menu-id]="'step-action-menu'" nz-menu>
              <li nz-menu-item [attr.data-test-menu-item-id]="'navigate-to-details'">
                <a style="text-decoration: none"
                   [routerLink]="['/','detailed-test-step', callTestStep.testCaseId, 'step', callTestStep.stepOrder]">
                  {{'sqtm-core.test-case-workspace.test-steps.button.details'|translate}}
                </a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
    <table *ngIf="callTestStep.extended" class="block-border p-l-10 m-t-10 m-r-10" style="table-layout: fixed;">
      <tr>
        <th class="index-column"></th>
        <th class="header-color rich-text-column">
          <span>{{"sqtm-core.entity.test-step.action.singular"|translate}}</span>
        </th>
        <th class="header-color rich-text-column m-r-10">
          <span>{{"sqtm-core.entity.test-step.expected-result.label"|translate}}</span>
        </th>
      </tr>

      <tr *ngFor="let calledTestCaseStep of callTestStep.calledTestCaseSteps">
        <td class="index-column">
          <span class="index-typography">{{getIndex(callTestStep, calledTestCaseStep)}}</span>
        </td>
        <ng-container *ngIf="calledTestCaseStep.kind === 'action-step'">
          <td class="rich-content rich-text-column" [innerHTML]="calledTestCaseStep['action']|safeRichContent"></td>
          <td class="rich-content rich-text-column m-r-10"
              [innerHTML]="calledTestCaseStep['expectedResult']|safeRichContent"></td>
        </ng-container>
        <ng-container *ngIf="calledTestCaseStep.kind === 'call-step'">
          <td colspan="2"
              class="sub-call">{{'sqtm-core.entity.call-step.label'|translate}} {{calledTestCaseStep['calledTcName']}}</td>
        </ng-container>
      </tr>
    </table>
  </div>

  <ng-template #readOnlyDataSetLabel><span>{{getDataSetLabel()}}</span></ng-template>
</ng-container>
