.body-content {
  align-items: center;
  padding: 8px;
}

.font-dialog-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 18px;
}

.execution-environment-display {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 8px;

  .label {
    color: var(--label-color);
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
  }
}
