<div class="container-background-color overlay-field container-border-color p-10" style="width: 250px"
     [attr.data-test-component-id]="'edit-filter-text'"
     [sqtmCoreWorkspace]="workspace" [localTheme]="true"
>
  <div class="m-t-5 m-b-5" *ngIf="filter.availableOperations.length > 1">
    <sqtm-core-operation-selector [availableOperations]="filter.availableOperations"
                                  [operation]="filter.operation"
                                  (operationChanged)="operationChanged($event)"
    >
    </sqtm-core-operation-selector>
  </div>
  <input [attr.data-test-component-id]="'input'" #input nz-input [(ngModel)]="value" (keyup)="handleKeyboardInput($event.keyCode)"/>
  <div class="m-t-5 flex-row">
    <button [attr.data-test-component-id]="'update-button'" nz-button nzType="primary" (click)="changeValue()">
      {{'sqtm-core.generic.label.update' | translate | capitalize}}
    </button>
    <button [attr.data-test-component-id]="'cancel-button'" style="margin-left: auto" nz-button nzType="default" (click)="closeTextField()">
      {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
    </button>
  </div>
</div>
