/**
 *     This file is part of the Squashtest platform.
 *     Copyright (C) Henix, henix.fr
 *
 *     See the NOTICE file distributed with this work for additional
 *     information regarding copyright ownership.
 *
 *     This is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Lesser General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     this software is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Lesser General Public License for more details.
 *
 *     You should have received a copy of the GNU Lesser General Public License
 *     along with this software.  If not, see <http://www.gnu.org/licenses/>.
 */
.flex-row-no-wrap {
  display: flex;
  flex-direction: row;
}

.nav-bar-container {
  justify-content: space-between;
  background-color: var(--nav-main-color);
}

.icon-container {
  margin: 0;
  padding: 0;
  height: var(--nav-height);
}

.squash-logo {
  height: var(--nav-height);
  width: calc(var(--nav-height) * 3.38);
}

.bug-tracker-link {
  padding: 10px 10px 8px 10px;
  text-align: right;
  background-color: var(--nav-dropdown-background-color);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bug-tracker-link:hover {
  background-color: var(--nav-dropdown-hover-color);
}

.bug-tracker-icon {
  height: calc(var(--nav-height)/2.2);
  width: calc(var(--nav-height)/2.2);
}
