.block-border {
  border-left: 2px solid var(--container-border-color);
}

.oauth-grid {
  min-width: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.colspan-field {
  grid-column-start: 2;
  grid-column-end: -1;
}

.full-row {
  grid-column-start: 1;
  grid-column-end: -1;
}

.text-align-center {
  text-align: center;
}
