.content-body {
  overflow-y: hidden;
  border: solid 1px var(--background-color);
  height: 100%;
  padding-left: 18px;
}

.item {
  transition: background .3s;
  align-items: center;

  &:hover {
    background: var(--background-color);
  }
}

.hidden {
  visibility: hidden;
}

.item-selected {
  background: var(--background-color);
  font-weight: 500;
}

.container {
  border-radius: 3px;
  box-shadow: 0 0 10px 0 #00000030;
  overflow: hidden;
  user-select: none;
}
