<div class="font-22-px current-workspace-main-color m-r-10 __hover_pointer"
     [attr.data-test-component-id]="'start-execution-button'">
  <i  nz-icon nzType="sqtm-core-campaign:play-2"
      nzTheme="outline" nz-tooltip="{{'sqtm-core.generic.label.start' | translate}}"
     (click)="startExecution()"
  ></i>
</div>
