<div class="flex-column full-height full-width" style="overflow-y: hidden;">
  <div class="flex-row p-r-10">
    <div class="prerequisite-title">
      {{'sqtm-core.test-case-workspace.title.prerequisite-and-test-steps' | translate}}
    </div>
    <div class="collapse-button">
      <a [attr.data-test-component-id]="'collapse-all-steps'" (click)="collapseAllSteps()">
        <i nz-icon nzType="sqtm-core-generic:zoom-out" nzTheme="outline" class="action-icon-size"
           [nz-tooltip]="'sqtm-core.test-case-workspace.test-steps.button.collapse-all' | translate">
        </i>
      </a>
      <a [attr.data-test-component-id]="'expend-all-steps'" (click)="expendAllSteps()" class="m-l-10">
        <i nz-icon nzType="sqtm-core-generic:zoom-in" nzTheme="outline" class="action-icon-size"
           [nz-tooltip]="'sqtm-core.test-case-workspace.test-steps.button.expand-all' | translate">
        </i>
      </a>
    </div>
  </div>
  <div #scrollableStepList class="full-width full-height flex-column" style="overflow-y: auto; overflow-x: hidden"
       [sqtmCoreDraggableList]="origin"
       [dragEnabled]="editable"
       [draggedContentRenderer]="draggedStepComponent"
       (dragStart)="dragStart($event)"
       (dragOver)="dragOver($event)"
       (dragCancel)="dragCancel()"
       (dragLeave)="dragLeave($event)"
       (drop)="drop($event)"
  >
    <div class="full-width flex-fixed-size p-r-10" [attr.data-test-component-id]="'test-step-list'">
      <ng-container *ngIf="extendedPrerequisite then extendedPrerequisiteTemplate else collapsedPrerequisiteTemplate">
      </ng-container>
      <ng-container *ngIf="shouldShowStepList()">
        <ng-container *ngFor="let step of steps; trackBy:trackStepFn">
          <sqtm-app-test-step [step]="step" [customFields]="customFields"
                              [initialFraction]="fraction" [editable]="editable" [linkable]="linkable"
                              [stepCreationMode]="stepCreationMode"
                              (resizeActionStepColumn)="resizeActionGrid($event)"
                              [stepCount]="stepCount"
          >
          </sqtm-app-test-step>
        </ng-container>
      </ng-container>
    </div>
    <div class="last-position-drop-zone" [sqtmCoreDraggableListItem]="lastPositionDropZone" [enableDrag]="false"></div>
  </div>
</div>

<ng-template #extendedPrerequisiteTemplate>
  <div class="full-width prerequisite p-10">
    <div class="m-b-10">
      <i class="m-r-10" nz-icon nzType="{{'caret-down'}}" nzTheme="outline"
         (click)="togglePrerequisite()"></i>
      <span class="header-typography">{{ 'sqtm-core.entity.test-case.prerequisites.label' | translate}}</span>
    </div>
    <ng-container>
      <sqtm-core-editable-rich-text
        #prerequisiteField
        [editable]="editable"
        (confirmEvent)="changePrerequisite($event)"
        [attr.data-test-field-id]="'prerequisite'"
        [value]="prerequisite"
      >
      </sqtm-core-editable-rich-text>
    </ng-container>
  </div>
</ng-template>

<ng-template #collapsedPrerequisiteTemplate>
  <div class="full-width prerequisite prerequisite-collapsed">
    <div class="flex-row full-height p-10">
      <i class="prerequisite-center m-r-10" nz-icon nzType="caret-right" nzTheme="outline"
         (click)="togglePrerequisite()"></i>
      <span
        class="header-typography prerequisite-center">{{ 'sqtm-core.entity.test-case.prerequisites.label' | translate}}
        :</span>
      <div class="prerequisite-center m-l-10" style="max-height: 21px; overflow: hidden" [innerHTML]="prerequisite"
           (click)="editCollapsedPrerequisite()"></div>
    </div>
  </div>
</ng-template>
