<div *ngIf="loginPageService.componentData$|async as componentData"
     class="full-height full-width flex-column login-page neutral-background-color overflow-hidden"
     [sqtmCoreWorkspace]="'home-workspace'">
  <sqtm-core-horizontal-logout-bar class="flex-fixed-size full-width"
                                   [squashVersion]="componentData.squashVersion"></sqtm-core-horizontal-logout-bar>
  <div [attr.data-test-component-id]="'h2-warning'" *ngIf="componentData.isH2"
       class="flex-fixed-size h2-warning full-width m-t-30 p-10">
    <i nz-icon class="sqtm-core-icon h2-warning-icon"
       nzType="info-circle" nzTheme="twotone"
       [nzTwotoneColor]="'#FF0000'"></i>
    <span [innerHTML]="'sqtm-core.home-workspace.h2-warning'|translate"></span>
  </div>
  <div class="login-form flex-fixed-size m-t-100 p-30 container-background-color container-border">
    <form [formGroup]="form">
      <sqtm-app-login-form [pending]="pending" [showLoginError]="componentData.showLoginError" [parent]="form"
                           (submit)="handleLogin()"></sqtm-app-login-form>
    </form>
  </div>
  <div class="overflow-hidden welcome-message-wrapper full-height m-b-50">
    <div *ngIf="componentData.loginMessage" class="welcome-message container-background-color container-border p-30"
         [attr.data-test-component-id]="'login-message'"
         style="overflow-y: auto"
         [innerHTML]="getLoginMessage(componentData.loginMessage)">
    </div>
  </div>
</div>

