.login-page {
  align-items: center;
}

.welcome-message-wrapper {
  margin-top: 100px;
  width: 80%;
}

.welcome-message {
  max-height: 100%;
  width: 100%;
}

.login-form {
  width: 400px;
}

.h2-warning {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  &-icon {
    font-size: 22px;
    margin-right: 10px;
  }
}
