<nz-radio-group [(ngModel)]="selectedItemId" (ngModelChange)="changeSelection()">
  <label nz-radio [nzValue]="listItem.id" *ngFor="let listItem of listItems">
    {{listItem.label || listItem.i18nLabelKey|translate}}
  </label>
</nz-radio-group>
