.generated-label {
  margin-left: auto;
  font-weight: 200;
  font-size: 14px;
}

.container-transparent-border {
  border: solid 1px var(--container-background-color);
  border-radius: 5px;
}

.container {
  border-radius: 3px;
  box-shadow: 0 0 10px 0 #00000030;
  overflow: hidden;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.item {
  transition: background .3s;
  align-items: center;

  &:hover {
    background: var(--background-color);
  }
}

.creation-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
