.drop-test-case {
  border: solid 1px var(--current-workspace-main-color);
}

:host {
  padding: 0 10px 10px 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.view-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--current-workspace-main-color);
  margin: 0 10px 10px;
  flex-grow: 1;
}

.panel-buttons {
  display: flex;
  align-items: center;

  &>* {
    padding-left: 5px;
    padding-right: 5px;
  }

  .buttons-separator {
    padding: 0;
    margin: 0 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    width: 1px;
    height: 23px;
  }
}
