<ng-container *ngIf="selectedIds && selectedIds.length > 0; else empty">
  <a #button href="#" (click)="handleOpen()">{{concatenatedNames}}</a>
</ng-container>

<ng-template #empty><a #button href="#" (click)="handleOpen()">{{'sqtm-core.generic.label.choose'|translate}}</a>
</ng-template>
