<div class="m-t-5 __hover_pointer" (click)="openScopeSelector()">
  <span #fieldElement>
  <ng-container *ngIf="hasSelectedScope; else placeHolder">
    {{ currentScope }}
  </ng-container>
  <ng-template #placeHolder>
    {{ 'sqtm-core.custom-report-workspace.create-custom-export.workbench.label.select-scope' | translate }}
  </ng-template>
  </span>
</div>
