<ng-container *ngIf="authenticatedUser$ | async as authenticatedUser; else loading">
  <sqtm-core-workspace-with-grid
      [name]="'administration-workspace-milestones'"
      [rootUrl]="['administration-workspace', 'milestones']"
      [isLoggedAsAdmin]="adminReferentialDataService.loggedAsAdmin$ | async"
      [licenseInformation]="adminReferentialDataService.licenseInformation$ | async">
    <sqtm-core-nav-bar-admin class="full-height" projection="navBar"></sqtm-core-nav-bar-admin>
    <sqtm-app-milestone-workspace-grid projection="grid"></sqtm-app-milestone-workspace-grid>
  </sqtm-core-workspace-with-grid>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>
