.info-list-information-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.col-spacer {
  grid-column-start: 1;
  grid-column-end: 3;
}
