<sqtm-core-customisable-dialog [dialogId]="'remote-issue-dialog'"
                               [titleKey]="titleKey"
                               [attr.data-test-dialog-id]="'remote-issue-dialog'">
  <sqtm-core-dialog-body class="flex-row modal-overlay-container">
    <div class="p-10 full-height">
      <div class="form-grid p-b-10" *ngIf="(isOslcIssue$ | async) || ! data.attachMode">
        <sqtm-core-label
            [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.remote-project.label' | translate">
        </sqtm-core-label>
        <nz-select
            [nzOptions]="remoteProjectOptions"
            [ngModel]="currentRemoteProject"
            (ngModelChange)="handleProjectSelectChange($event)">
        </nz-select>
      </div>

      <ng-container *ngIf="! (remoteIssueService.loading$ | async); else spinner">
        <ng-container *ngIf="! (isOslcIssue$ | async)">
          <sqtm-app-remote-issue-search
              *ngIf="data.attachMode"
              [errorMessage]="searchErrorMessage$ | async"
              (searchRequested)="searchForIssue($event)">
          </sqtm-app-remote-issue-search>
        </ng-container>

        <ng-container *ngIf="remoteIssueService.remoteIssue$ | async">
          <sqtm-app-new-oslc-issue-dialog
              *ngIf="isOslcIssue$ | async; else notOslc"
              [remoteIssueDialogState]="remoteIssueService.state$ | async"
              (requireDialogClose)="handleCloseOslc($event)">
          </sqtm-app-new-oslc-issue-dialog>
          <ng-template #notOslc>
            <sqtm-app-new-advanced-issue-form
                #advancedForm
                *ngIf="isAdvancedIssue$ | async; else standardForm"
                [remoteIssueDialogState]="remoteIssueService.state$ | async">
            </sqtm-app-new-advanced-issue-form>
          </ng-template>
          <ng-template #standardForm>
            <sqtm-app-new-remote-issue-form
                #btForm
                [remoteIssueDialogState]="remoteIssueService.state$ | async">
            </sqtm-app-new-remote-issue-form>
          </ng-template>
        </ng-container>
      </ng-container>

      <div *ngIf="(errorMessage$ | async) as message"
           class="modal-overlay modal-overlay-error"
           [attr.data-test-component-id]="'modal-error-message'"
           (click)="errorOverlayClicked()">
        <span class="m-auto">{{message | translate}}</span>
      </div>
    </div>
  </sqtm-core-dialog-body>
  <sqtm-core-dialog-footer>
    <ng-container *ngIf="! (isOslcIssue$ | async)">
      <button
          [attr.data-test-component-id]="'confirm'"
          class="flex-fixed-size m-l-10"
          nz-button nzType="primary"
          [disabled]="! (remoteIssueService.remoteIssue$ | async)"
          (click)="handleConfirmation()">
        {{'sqtm-core.generic.label.add' | translate}}
      </button>
    </ng-container>
    <button
        [attr.data-test-dialog-button-id]="'cancel'"
        class="flex-fixed-size m-l-10"
        nz-button nzType="default"
        sqtmCoreDialogClose>
      {{'sqtm-core.generic.label.cancel' | translate}}
    </button>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>

<ng-template #spinner>
  <div *ngIf="!(errorMessage$ | async)"
       class="modal-overlay flex-row current-workspace-main-color table-icon-size">
    <i nz-icon nzType="loading" nzTheme="outline" class="m-auto"></i>
  </div>
</ng-template>
