.sqtm-grid-header-cell {
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

::ng-deep .resize-handler {
  width: 6px;
  margin-left: auto;
}
