<div class="form-grid p-b-10" [formGroup]="formGroup" *ngIf="formGroup">
  <ng-container *ngIf="! remoteIssueDialogState.attachMode; else readonlyForm">
    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.category.label' | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [options]="categoryOptions"
        [formGroup]="formGroup"
        [fieldName]="'category'"
        [disabled]="isSelectDisabled(categoryOptions)">
    </sqtm-core-select-field>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.severity.label' | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [options]="severityOptions"
        [formGroup]="formGroup"
        [fieldName]="'severity'"
        [disabled]="isSelectDisabled(severityOptions)">
    </sqtm-core-select-field>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.version.label' | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [options]="versionOptions"
        [formGroup]="formGroup"
        [fieldName]="'version'"
        [disabled]="isSelectDisabled(versionOptions)">
    </sqtm-core-select-field>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.assignee.label' | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [options]="assigneeOptions"
        [formGroup]="formGroup"
        [fieldName]="'assignee'"
        [disabled]="isSelectDisabled(assigneeOptions)">
    </sqtm-core-select-field>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.summary.label' | translate">
    </sqtm-core-label>
    <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'summary'">
    </sqtm-core-text-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.description.label' | translate">
    </sqtm-core-label>
    <sqtm-core-text-area-field
        [formGroup]="formGroup"
        [fieldName]="'description'"
        [rows]="7">
    </sqtm-core-text-area-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.issue.comment.label' | translate">
    </sqtm-core-label>
    <sqtm-core-text-area-field
        [formGroup]="formGroup"
        [fieldName]="'comment'"
        [rows]="7">
    </sqtm-core-text-area-field>
  </ng-container>

  <div *ngIf="asyncMode"
       class="modal-overlay modal-overlay-loading">
    <i nz-icon nzType="loading" nzTheme="outline" class="m-auto"></i>
  </div>
</div>

<ng-template #readonlyForm>
  <ng-container *ngIf="remoteIssueService.searchResultLoaded$ | async">
    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.remote-project.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.state$ | async).remoteProjectName}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.category.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.remoteIssue$ | async).category.name}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.severity.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.remoteIssue$ | async).priority.name}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.version.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.remoteIssue$ | async).version.name}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.assignee.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.remoteIssue$ | async).assignee.name}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.summary.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.remoteIssue$ | async).summary}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.description.label' | translate">
    </sqtm-core-label>
    <span>{{(remoteIssueService.remoteIssue$ | async).description}}</span>

    <sqtm-core-label
        [text]="'sqtm-core.entity.issue.comment.label' | translate">
    </sqtm-core-label>
    <span [innerHTML]="(remoteIssueService.remoteIssue$ | async).comment"></span>
  </ng-container>
</ng-template>
