.attachment {
  margin-bottom: 12px;
  .row {
    display: flex;
    flex-flow: row nowrap;
    .cell {
      &.name {
        font-weight: bold;
        flex: 0 0 66%;
        overflow: hidden;
        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &.size {
        flex: 0 0 25%;
      }
      &.delete {
        flex: 0 0 9%;
        text-align: right;
        cursor: pointer;
      }
    }
  }
  .added-on {
    line-height: 25px;
    min-height: 25px;
    font-style: italic;
  }
}
