<ng-container *ngIf="multiListData$|async as data">
  <sqtm-core-grouped-multi-list [listItems]="data.items" [listGroups]="data.itemGroups" (itemSelectionChanged)="toggleFilter($event)"></sqtm-core-grouped-multi-list>
</ng-container>
