<ng-container *ngIf="componentData$ | async as componentData">
  <div class="full-width full-height flex-column">

    <div class="flex-row">
      <span class="admin-workspace-secondary-title">{{"sqtm-core.entity.milestone.label.plural" | translate}}</span>
      <div style="flex-grow: 1"></div>
      <div class="m-5 flex-row flex-fixed-size toolbar"
           [attr.data-test-toolbar-id]="'milestone-toolbar'">
        <i nz-icon nz-dropdown
           nzType="sqtm-core-generic:add"
           nzTheme="outline"
           class="current-workspace-button action-icon-size"
           [attr.data-test-toolbar-button-id]="'bind-milestones-button'"
           (click)="bindMilestone()">
        </i>
        <div class="current-workspace-button">
          <sqtm-core-toggle-icon [active]="milestoneTable.hasSelectedRows$ | async"
                                 (clickedInActiveMode)="unbindMilestone()">
            <i nz-icon nz-dropdown
               nzType="sqtm-core-generic:unlink"
               nzTheme="outline"
               class="action-icon-size"
               [attr.data-test-toolbar-button-id]="'unbind-milestones-button'">
            </i>
          </sqtm-core-toggle-icon>
        </div>
        <button class="flex-fixed-size" nz-button nzType="primary"
                [nzSize]="'small'"
                nz-tooltip [nzTooltipTitle]="'sqtm-core.entity.milestone.create-and-bind-milestone-to-project.label' | translate"
                [attr.data-test-toolbar-button-id]="'create-bind-milestone-button'"
                (click)="createMilestone()"
                *ngIf="!componentData.project.template">{{'sqtm-core.generic.label.create' | translate}}
        </button>
      </div>
    </div>
    <div class="m-r-20 p-10 full-height sqtm-large-grid-container">
      <sqtm-app-project-milestones-panel></sqtm-app-project-milestones-panel>
    </div>
  </div>
</ng-container>

