<div *ngIf="editable; else fixedTag" class="flex-column">
  <nz-select [@.disabled]="true" class="full-width" [nzShowArrow]="false" [nzNotFoundContent]="notFoundContent"
             [nzPlaceHolder]="placeholder" nzMode="tags" [(ngModel)]="model" (ngModelChange)="confirm()"
             (nzBlur)="cancel()">
    <nz-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option"></nz-option>
  </nz-select>
  <div *ngIf="showMandatory" class="full-width has-error">
    <span class="sqtm-core-error-message">
       {{'sqtm-core.validation.errors.required' | translate}}
    </span>
  </div>
</div>

<ng-template #fixedTag>
  <nz-tag *ngFor="let tag of value">
    {{tag}}
  </nz-tag>
</ng-template>
