.bugtracker-error {
  text-align: center;
  margin-top: 100px;
}

.bugtracker-error-in-small-grid {
  text-align: center;
  margin: 30px 0;
}

.bugtracker-error-message {
  font-size: 1.5em;
}

.bugtracker-error-detail {
  cursor: pointer;
  text-decoration: underline;
}

.bugtracker-error-missing-step-detail-message {
  font-size: 1.2em;
}
