/**
 *     This file is part of the Squashtest platform.
 *     Copyright (C) Henix, henix.fr
 *
 *     See the NOTICE file distributed with this work for additional
 *     information regarding copyright ownership.
 *
 *     This is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Lesser General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     this software is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Lesser General Public License for more details.
 *
 *     You should have received a copy of the GNU Lesser General Public License
 *     along with this software.  If not, see <http://www.gnu.org/licenses/>.
 */
/* You can add global styles to this file, and also import other style files */
/* soft reset */
html,
body,
textarea,
figure,
label
{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

/* border-box everywhere, it's simple, more than using it partially */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Default variables in case of incomplete theme and for auto completion in IDE*/
:root
{
  /* WORKSPACE MAIN COLORS */
  --test-case-workspace-main-color : #6EAC2C;
  --requirement-workspace-main-color : #0078AE;
  --campaign-workspace-main-color : #5E287B;
  --custom-report-workspace-main-color : #750021;

  /* NAV BAR VARIABLES */
  --nav-main-color : #191D35;
  --nav-height : 40px;
  --nav-dropdown-hover-color : #bdc8e6;
  --nav-dropdown-background-color : #f2f2f2;
}

.requirement-workspace-main-color {
  background-color: var(--requirement-workspace-main-color);
}

.test-case-workspace-main-color {
  background-color: var(--test-case-workspace-main-color);
}

.campaign-workspace-main-color {
  background-color: var(--campaign-workspace-main-color);
}

.custom-report-workspace-main-color {
  background-color: var(--custom-report-workspace-main-color);
}

.sqtm-grid-std-layout {
  height: 100%;
  position: relative;
}

.sqtm-grid-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  height: 100%;
  display: inline-block;
  padding: 5px;
  user-select: none;
}

.sqtm-grid-cell-txt {
  position: absolute;
  padding-left: 20px;
  height: 100%;
}

.sqtm-table-cell {
   height: 100%;
   display: inline-block;
   padding: 5px;
   user-select: none;
}
