<ng-container *ngIf="componentData$| async as componentData">
  <div class="flex-fixed-size side-bar">
    <div class="anchor-bar">

      <div class="anchor-group remove-chrome-router-link-border"
           [attr.data-test-anchor-id]="'ready-for-transmission'"
           [routerLinkActive]="'anchor-group-selected'"
           [routerLink]="'../ready-for-transmission'"
           (click)="hideContextualContent()">
        <div [routerLinkActive]="'container-active'" class="container" nz-tooltip nzTooltipPlacement="right"
             [nzTooltipTitle]="'sqtm-core.automation-workspace.functional-tester-view.ready-for-transmission.label' | translate">
          <i nz-icon class="admin-workspace-anchor-icon" nzType="sqtm-core-automation:ready_for_transmission" nzTheme="outline"
          ></i>
          <div *ngIf="componentData.nbReadyForTransmissionAutomReq > 0" class="anchor-counter">
            <span>{{componentData.nbReadyForTransmissionAutomReq}}</span>
          </div>
        </div>
      </div>

      <div class="anchor-group remove-chrome-router-link-border"
           [attr.data-test-anchor-id]="'to-be-validated'"
           [routerLinkActive]="'anchor-group-selected'"
           [routerLink]="'../validate'"
           (click)="hideContextualContent()">
        <div [routerLinkActive]="'container-active'" class="container" nz-tooltip nzTooltipPlacement="right"
             [nzTooltipTitle]="'sqtm-core.automation-workspace.functional-tester-view.to-be-validated.label' | translate">
          <i nz-icon class="admin-workspace-anchor-icon" nzType="sqtm-core-automation:to_be_validated" nzTheme="outline"
          ></i>
          <div *ngIf="componentData.nbToBeValidatedAutomReq > 0" class="anchor-counter">
            <span>{{componentData.nbToBeValidatedAutomReq}}</span>
          </div>
        </div>
      </div>

      <div class="anchor-group remove-chrome-router-link-border"
           [attr.data-test-anchor-id]="'global'"
           [routerLinkActive]="'anchor-group-selected'"
           [routerLink]="'../global'"
           (click)="hideContextualContent()">
        <div [routerLinkActive]="'container-active'" class="container" nz-tooltip nzTooltipPlacement="right"
             [nzTooltipTitle]="'sqtm-core.automation-workspace.functional-tester-view.global-view.label' | translate">
          <i nz-icon class="admin-workspace-anchor-icon" nzType="sqtm-core-automation:global_view" nzTheme="outline"
          ></i>
          <div *ngIf="componentData.nbGlobalAutomReq > 0" class="anchor-counter">
            <span>{{componentData.nbGlobalAutomReq}}</span>
          </div>
        </div>
      </div>
    </div>

    <ng-content></ng-content>
  </div>
</ng-container>
