<div class="full-width" [formGroup]="formGroup" [attr.data-test-field-name]="fieldName">
  <input #inputField nz-input
         [formControlName]="fieldName"
         [type]="inputType"
         [placeholder]="placeholder"
         (blur)="handleBlur($event)"/>
  <div class="has-error" *ngFor="let error of errors">
    <span [attr.data-test-error-key]="error.provideI18nKey()" class="sqtm-core-error-message">{{error.provideI18nKey()| translate}}</span>
  </div>
</div>
