<ng-container *ngIf="componentData">
  <label class="block-title flex-row">
    {{'sqtm-core.entity.scm-server.credentials.label' | translate}}
  </label>

  <div class="block-border p-l-10 m-t-8">
    <sqtm-core-third-party-credentials-form
        [authenticationProtocol]="componentData.testAutomationServer.authProtocol"
        [credentials]="componentData.testAutomationServer.credentials"
        [useRevokeButton]="false"
        (submit)="sendCredentialsForm($event)">
    </sqtm-core-third-party-credentials-form>

    <div class="flex-row">
      <div class="flex-row" style="align-items: center;">
        <ng-container [ngSwitch]="statusIcon">
          <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#1890FF'"></i>
          <i *ngSwitchCase="'DANGER'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#FF0000'"></i>
        </ng-container>
        <b [attr.data-test-component-id]="'status-message'">
          {{credentialsStatusMessage | translate}}
        </b>
      </div>
    </div>
  </div>
</ng-container>
