.sqtm-core-icon {
  font-size: 30px;
  padding-right: 15px;
  margin: auto 0;
}

.block-title {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--label-color);
  font-size: 12px;
}

.block-border {
  border-left: 2px solid var(--container-border-color);
}
