<div class="flex-row m-b-10">
  <div *ngIf="edit" class="flex" [attr.data-test-toolbar-id]="'ace-toolbar'">
    <button nz-button nzType="primary"
            [nzSize]="'small'"
            class="m-r-5"
            (click)="confirm()"
            [attr.data-test-toolbar-button-id]="'ace-confirm'"
    >
      <i nz-icon [nzType]="'check'"></i>
      {{'sqtm-core.generic.label.confirm' | translate | capitalize}}
    </button>
    <button nz-button nzType="default"
            [nzSize]="'small'" class="m-r-5" (click)="cancel()">
      <i nz-icon [nzType]="'close'"
         [attr.data-test-toolbar-button-id]="'ace-cancel'"></i>
      {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
    </button>
    <i nz-icon nzTheme="fill" nzType="sqtm-core-test-case:insert"
       class="action-icon-size current-workspace-button m-r-5 m-t-auto m-b-auto"
       nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.insert' | translate"
       (click)="showSnippet()"
       [attr.data-test-toolbar-button-id]="'ace-insert'">
    </i>
    <i nz-icon nzTheme="fill" nzType="sqtm-core-test-case:check_syntax"
       class="action-icon-size current-workspace-button m-t-auto m-b-auto"
       nz-tooltip [nzTooltipTitle]="'sqtm-core.test-case-workspace.gherkin.check-syntax' | translate"
       (click)="checkSyntax()" [attr.data-test-toolbar-button-id]="'ace-check'">
    </i>
  </div>
  <i nz-icon nzTheme="fill" nzType="sqtm-core-test-case:help" class="action-icon-size current-workspace-button"
     nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.help' | translate" style="margin-left: auto"
     [attr.data-test-button-id]="'ace-help'"
     (click)="toggleShowHelp()">
  </i>
</div>
<div [attr.data-test-component-id]="'ace-editor'" (click)="toggleToEditMode()" class="code-editor" #codeEditor>
</div>
