.body-content {
  align-items: center;
  padding: 8px;
}

.font-dialog-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 18px;
}

.custom-field-label {
  flex-grow: 1;
}

.custom-field-type {
  color: var(--label-color);
}

.has-error {
  padding: 0 8px;
}
