<sqtm-core-customisable-dialog
  [titleKey]="'sqtm-core.administration-workspace.projects.dialog.title.bind-custom-fields'"
  [dialogId]="'project-custom-field-binding'" (confirm)="confirm()">
  <sqtm-core-dialog-body>
    <div class="body-content m-t-5">
      <div class="m-10 sqtm-core-dialog-form p-4">
        <label class="label">{{'sqtm-core.entity.custom-field.bound-entity.label' | translate}}</label>
        <div class="full-width flex-column">
          <nz-select
            #boundEntitySelectField
            [(ngModel)]="selectedEntity"
            [nzPlaceHolder]="'sqtm-core.administration-workspace.projects.dialog.message.bind-custom-fields.bound-entity.place-holder'|translate"
            [attr.data-test-field-name]="'bound-entity-field'"
            (ngModelChange)="buildCustomFieldMultiListItems()">
            <nz-option-group *ngFor="let group of boundEntityOptionGroups" [nzLabel]="group.label | translate">
              <nz-option *ngFor="let option of group.options" [nzLabel]="option.label | translate"
                         [nzValue]="option.value">
              </nz-option>
            </nz-option-group>
          </nz-select>
          <div class="has-error">
            <div *ngFor="let error of errorsOnBoundEntity" class="sqtm-core-error-message">
              {{error|translate}}
            </div>
          </div>
        </div>

        <label class="label"
               *ngIf="this.selectedEntity != null">
          {{'sqtm-core.entity.custom-field.label.plural' | translate}}
        </label>
        <div class="full-width flex-column">
          <sqtm-core-grouped-multi-list-field
            *ngIf="this.selectedEntity != null"
            #customFieldMultiList
            [listItems]="customFieldListItems"
            [separateSelectedItems]="true"
            [attr.data-test-component-id]="'cuf-field'"
            (valueChanged)="handleCustomFieldSelectionChange($event)"
            [placeHolder]="'sqtm-core.administration-workspace.projects.dialog.message.bind-custom-fields.custom-fields.place-holder'|translate">
          </sqtm-core-grouped-multi-list-field>
          <div class="has-error">
            <div *ngFor="let error of errorsOnCustomFields" class="sqtm-core-error-message">
              {{error|translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #customFieldItemTemplate let-item="item">
      <span class="custom-field-label m-l-5 txt-ellipsis">{{item.label}}</span>
      <span class="custom-field-type">({{getCustomFieldTypeLabelKey(item.id)|translate}})</span>
    </ng-template>
  </sqtm-core-dialog-body>
</sqtm-core-customisable-dialog>
