.grid-optionals {
  display: grid;
  grid-template-columns: auto max-content;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  margin: 10px;
  align-items: center;
}

.font-dialog-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 18px;
}

.sqtm-core-icon {
  font-size: 30px;
  padding-right: 10px;
  margin: 5px;
}
