<ng-container *ngIf="componentData$ | async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
            [sqtmCoreAnchorPanel]="'information'"
            [sqtmCoreAnchorCollapsePanel]="'information'"
            [nzHeader]="informationTitle">
          <ng-template #informationTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.generic.label.information.plural' | translate}}
            </div>
          </ng-template>
          <sqtm-app-bug-tracker-information-panel
            [componentData]="componentData">
          </sqtm-app-bug-tracker-information-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
            [sqtmCoreAnchorPanel]="'authentication-protocol'"
            [sqtmCoreAnchorCollapsePanel]="'authentication-protocol'"
            [nzHeader]="authProtocolTitle">
          <ng-template #authProtocolTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.entity.server.auth-protocol.label' | translate}}
            </div>
          </ng-template>
          <sqtm-app-bug-tracker-authentication-protocol-panel
              [componentData]="componentData">
          </sqtm-app-bug-tracker-authentication-protocol-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
            sqtmCoreAnchorLastPanel
            [sqtmCoreAnchorPanel]="'authentication-policy'"
            [sqtmCoreAnchorCollapsePanel]="'authentication-policy'"
            [nzHeader]="authPolicyTitle">
          <ng-template #authPolicyTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.entity.server.auth-policy.label' | translate}}
            </div>
          </ng-template>
          <sqtm-app-bug-tracker-authentication-policy-panel
              [componentData]="componentData">
          </sqtm-app-bug-tracker-authentication-policy-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
    </div>
  </div>
</ng-container>
