.template-parameters {
  margin-top: 5px;

  span {
    margin-left: 0;
    padding-left: 0;
  }
}

.sqtm-core-icon {
  font-size: 30px;
  padding-right: 10px;
  margin: 5px;
  align-self: center;
}

.info-message-container {
  margin-bottom: 1em;

  .info-message {
    margin-bottom: 0;
  }
}
