<div #mainContainer
     class="full-height full-width workbench-layout-3-cols flex-row overflow-hidden neutral-background-color">
  <!--  Left part, controls are here-->
  <div class="full-height flex-fixed-size flex-column overflow-hidden">
    <div class="sqtm-core-screen-title title p-b-25 p-t-10 flex-fixed-size">
      <span class="m-10">
      {{'sqtm-core.custom-report-workspace.create-chart-view.title'|translate}}</span>
    </div>
    <div class="full-width full-height p-10" style="overflow-y: auto">
      <div class="full-width p-10 container-border container-background-color flex-column">
        <span class="block-title">{{'sqtm-core.generic.label.perimeter'|translate|capitalize}}</span>
        <ng-container *ngIf="scope$|async as completeScope">
          <sqtm-app-scope-selector [completeScope]="completeScope" [projectId]="projectId"
                                   (scopeChanged)="changeScope($event)" class="m-t-10">
          </sqtm-app-scope-selector>
        </ng-container>
      </div>
      <div class="full-width m-t-20 p-10 container-border container-background-color flex-column">
        <span class="block-title">{{'sqtm-core.custom-report-workspace.create-chart-view.type.title'|translate}}</span>
        <ng-container *ngIf="chartType$|async as chartType">
          <sqtm-app-chart-type-selector class="m-t-10"
                                        [chartType]="chartType"
                                        (chartTypeChanged)="changeChartType($event)">
          </sqtm-app-chart-type-selector>
        </ng-container>
      </div>
      <div class="full-width m-t-20 p-10 container-border container-background-color flex-column"
           [sqtmCoreDraggableDropZone]="'chart-workbench-axis'"
           [showHover]="true"
           (drop)="handleDropAxis($event)">
        <span class="block-title">
          {{'sqtm-core.custom-report-workspace.create-chart-view.axis.label.plural'|translate}}
        </span>
        <ng-container *ngIf="axes$ | async as axes">
          <ng-container *ngIf="orderedColumnProto$| async as orderedColumnProto">
            <ng-container *ngIf="chartType$|async as chartType">
              <sqtm-app-axis-selector *ngIf="axes.measureRequired" class="m-t-20"
                                      [axis]="axes.measure"
                                      [role]="columnRoles.MEASURE"
                                      [chartType]="chartType"
                                      [detailedAxisRole]="detailedAxisRoles.Measure"
                                      [axisName]="getAxisI18nKey(detailedAxisRoles.Measure) | translate"
                                      [columnPrototypes]="orderedColumnProto"
                                      (operationChanged)="changeMeasureOperation($event)"
                                      (columnChanged)="changeMeasure($event)"
              >
              </sqtm-app-axis-selector>
              <sqtm-app-axis-selector class="m-t-20"
                                      [axis]="axes.axis"
                                      [role]="columnRoles.AXIS"
                                      [chartType]="chartType"
                                      [detailedAxisRole]="detailedAxisRoles.Axis"
                                      [axisName]="getAxisI18nKey(detailedAxisRoles.Axis) | translate"
                                      [columnPrototypes]="orderedColumnProto"
                                      (operationChanged)="changeAxisOperation($event)"
                                      (columnChanged)="changeAxis($event)"
              >
              </sqtm-app-axis-selector>
              <sqtm-app-axis-selector *ngIf="axes.seriesRequired" class="m-t-20"
                                      [axis]="axes.series"
                                      [role]="columnRoles.AXIS"
                                      [chartType]="chartType"
                                      [detailedAxisRole]="detailedAxisRoles.Series"
                                      [axisName]="getAxisI18nKey(detailedAxisRoles.Series) | translate"
                                      [columnPrototypes]="orderedColumnProto"
                                      (operationChanged)="changeSeriesOperation($event)"
                                      (columnChanged)="changeSeries($event)"
              >
              </sqtm-app-axis-selector>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="full-width m-t-20 p-10 container-border container-background-color"
           [sqtmCoreDraggableDropZone]="'chart-workbench-filters'"
           [showHover]="true"
           (drop)="handleDropFilters($event)">
        <sqtm-app-filter-panel [columnPrototypes]="orderedColumnProto$| async"
                               [filters]="filters$| async"
                               [completeScope]="scope$|async"
                               (filterAdded)="this.addFilter($event)"
                               (filterChanged)="this.changeFilter($event)"
                               (filterRemoved)="this.removeFilter($event)"
        ></sqtm-app-filter-panel>
      </div>
    </div>
  </div>
  <!--  Center part, with the title of chart, the chart itself and the buttons-->
  <div *ngIf="{loadingChartPreview : loadingChartPreview$|async,
               chartPreview : chartPreview$| async,
               savingChart : savingChart$| async,
               hintMessages: showHintMessages$|async } as data"
       class="full-height chart-zone flex-column overflow-hidden">
    <div class="sqtm-core-screen-title m-t-15 m-l-10 m-r-10 flex-fixed-size flex-row">
      <div class="full-width">
        <sqtm-core-text-field [formGroup]="formGroup"
                              [fieldName]="'name'"
                              [serverSideFieldValidationError]="fieldValidationErrors"
                              (inputBlurred)="changeName()">
        </sqtm-core-text-field>
      </div>
      <div class="m-l-20 flex-fixed-size" *ngIf="allowAttributePanel$|async">
        <i class="m-t-8 __hover_pointer" nz-icon [nzType]="showAttributePanelIcon$|async" nzTheme="outline"
           nz-tooltip [nzTooltipTitle]="getAttributePanelIconTooltip$|async"
           [nzTooltipOverlayStyle]="toggleButtonTooltipIsVisible ? {} : {display:'none'}"
           (mouseenter)="toggleButtonTooltipIsVisible = true"
           (mouseleave)="toggleButtonTooltipIsVisible = false"
           (click)="toggleAttributeSelector()"></i>
      </div>
    </div>
    <div
      class="full-height full-width overflow-hidden p-l-10 p-r-10 m-b-20 m-t-30" style="max-height: 900px">
      <ng-container *ngIf="data.loadingChartPreview==='not_async'; else chartAsync">
        <div class="full-height full-width overflow-hidden p-10 container-border container-background-color"
             [sqtmCoreDraggableDropZone]="'chart-workbench-central-chart'"
             [showHover]="true"
             (drop)="handleDropAxis($event)">
          <ng-container *ngIf="data.chartPreview.isValid">
            <sqtm-app-custom-chart [chartDefinition]="data.chartPreview.chartDefinition"></sqtm-app-custom-chart>
          </ng-container>
          <ng-container *ngIf="!data.chartPreview.isValid">
            <div *ngIf="data.hintMessages.showHintMessage; else errorMessage"
                 [attr.data-test-component-id]="'hint-message'"
                 class="full-width full-height flex-column font-16-px sqtm-core-centered-message">
              <div>
                <div>{{'sqtm-core.custom-report-workspace.create-chart-view.error.no-axes.title'|translate}}</div>
                <div>
                  <ul>
                    <li>{{'sqtm-core.custom-report-workspace.create-chart-view.error.no-axes.click'|translate}}</li>
                    <li *ngIf="data.hintMessages.showDndHintMessage">
                      {{'sqtm-core.custom-report-workspace.create-chart-view.error.no-axes.dnd'|translate}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <ng-template #errorMessage>
              <div [attr.data-test-component-id]="'missing-axes-message'"
                   class="full-width full-height flex-column font-16-px chart-message">
                {{'sqtm-core.custom-report-workspace.create-chart-view.error.missing-axes'|translate}}
              </div>
            </ng-template>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #chartAsync>
        <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
      </ng-template>
    </div>
    <div class="full-width flex-fixed-size flex-row m-10" style="margin-top: auto">
      <button
        *ngIf="this.chartDefinition"
        [attr.data-test-component-id]="'modify-chart'"
        class="flex-fixed-size m-l-auto"
        nz-button nzType="primary"
        (click)="handleModify()"
        [nzLoading]="data.savingChart==='async'"
        [disabled]="!data.chartPreview.isValid">
        {{'sqtm-core.generic.label.modify' | translate}}
      </button>
      <button
        *ngIf="!this.chartDefinition"
        [attr.data-test-component-id]="'add-chart'"
        class="flex-fixed-size m-l-auto"
        nz-button nzType="primary"
        (click)="handleAdd()"
        [nzLoading]="data.savingChart==='async'"
        [disabled]="!data.chartPreview.isValid">
        {{'sqtm-core.generic.label.add' | translate}}
      </button>
      <button
        [attr.data-test-component-id]="'cancel'"
        class="flex-fixed-size m-l-10 m-r-20"
        nz-button nzType="default"
        [disabled]="data.savingChart==='async'"
        (click)="handleCancel()">
        {{'sqtm-core.generic.label.cancel' | translate}}
      </button>
    </div>
  </div>
  <!--  Optional right part with an attribute selector for dnd-->
  <div class="full-height flex-fixed-size flex-column" *ngIf="showAttributePanel$|async">
    <div class="sqtm-core-screen-title title p-b-25 p-t-10 flex-fixed-size full-width flex-row">
      <span class="m-10">
        {{'sqtm-core.custom-report-workspace.create-chart-view.attributes.title'|translate}}
      </span>
      <i [attr.data-test-icon-id]="'help-rate'"
         nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
         nz-tooltip [nzTooltipTitle]="'sqtm-core.custom-report-workspace.create-chart-view.attributes.help'|translate"
         class="current-workspace-button action-icon-size m-t-10 m-r-20 m-l-auto ">
      </i>
    </div>
    <div class="full-height full-width">
      <ng-container *ngIf="orderedColumnProto$| async as orderedColumnProto">
        <sqtm-app-fixed-column-prototype-selector
          [columnPrototypes]="orderedColumnProto"></sqtm-app-fixed-column-prototype-selector>
      </ng-container>
    </div>
  </div>
</div>
