<ng-container *ngIf="componentData">
  <label class="block-title flex-row">
    {{'sqtm-core.entity.scm-server.credentials.label' | translate}}
  </label>

  <div class="block-border p-l-10 m-t-8">
    <sqtm-core-third-party-credentials-form
        (submit)="sendCredentialsForm($event)"
        [authenticationProtocol]="authenticationProtocol"
        [credentials]="componentData.scmServer.credentials"
        [useRevokeButton]="false">
    </sqtm-core-third-party-credentials-form>

    <div class="full-row flex-row">
      <div class="flex-row" style="align-items: center;">
        <ng-container [ngSwitch]="statusIcon">
          <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#1890FF'"></i>
        </ng-container>
        <b [attr.data-test-component-id]="'status-message'">
          {{credentialsStatusMessage | translate}}
        </b>
      </div>
    </div>
  </div>
</ng-container>
