<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll
         [attr.data-test-element-id]="dropZoneId"
         [sqtmCoreDraggableDropZone]="dropZoneId"
         (drop)="dropIntoRequirementVersion($event, componentData.permissions)">
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
          [sqtmCoreAnchorPanel]="'information'"
          [sqtmCoreAnchorCollapsePanel]="'information'"
          [nzHeader]="informationTitle">
          <sqtm-app-requirement-view-information
            [requirementVersionViewComponentData]="componentData"
            [customFieldData]="customFieldData"></sqtm-app-requirement-view-information>
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.test-case-workspace.title.information' | translate}}</div>
          </ng-template>
        </nz-collapse-panel>

        <nz-collapse-panel
          [sqtmCoreAnchorPanel]="'rate'"
          [sqtmCoreAnchorCollapsePanel]="'rate'"
          [nzHeader]="rateTitle"
          [nzExtra]="rateHelp">
          <sqtm-app-requirement-version-view-rate-panel
            [stats]="componentData.requirementVersion.requirementStats"></sqtm-app-requirement-version-view-rate-panel>

          <ng-template #rateTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.requirement-workspace.title.rate' | translate}}</div>
          </ng-template>

          <ng-template #rateHelp>
            <div class="panel-buttons">
              <i [attr.data-test-icon-id]="'help-rate'"
                 nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
                 nz-tooltip [nzTooltipTitle]="rateTooltip"
                 class="current-workspace-button action-icon-size">
              </i>
            </div>

          </ng-template>
          <ng-template #rateTooltip>
            <span style="width: 600px" [innerHTML]="'sqtm-core.requirement-workspace.rate.help' | translate"></span>
          </ng-template>
        </nz-collapse-panel>

        <nz-collapse-panel
          [sqtmCoreAnchorPanel]="'linked-test-case'"
          [sqtmCoreAnchorCollapsePanel]="'linked-test-case'"
          [nzHeader]="linkedTestCaseTitle"
          [nzExtra]="verifyingTestCaseAction">
          <sqtm-app-verifying-test-case-table></sqtm-app-verifying-test-case-table>
          <ng-template #linkedTestCaseTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.requirement-workspace.title.linked-test-case' | translate}}</div>
          </ng-template>
          <ng-template #verifyingTestCaseAction>
            <div class="panel-buttons"
                 *ngIf="componentData.permissions.canLink && componentData.requirementVersion.status !== 'OBSOLETE'">
              <div (click)="toggleTestCaseDrawer($event)">
                <i [attr.data-test-icon-id]="'add-verifying-test-case'"
                   nz-icon nzType="sqtm-core-generic:add" nzTheme="outline"
                   nz-tooltip [nzTooltipTitle]="'sqtm-core.requirement-workspace.verifying-test-case.link' | translate"
                   class="current-workspace-button action-icon-size">
                </i>
              </div>
              <div (click)="stopPropagation($event)">
                <i [attr.data-test-icon-id]="'search-coverages'"
                   nz-icon nzType="sqtm-core-tree:search" nzTheme="outline"
                   class="current-workspace-button action-icon-size remove-chrome-router-link-border"
                   nz-tooltip="{{ 'sqtm-core.requirement-workspace.verifying-test-case.search' | translate | capitalize}}"
                   [routerLink]="['/search/test-case/coverage/', componentData.requirementVersion.id]">
                </i>
              </div>
              <div (click)="stopPropagation($event)">
                <sqtm-core-toggle-icon [active]="requirementViewService.verifyingTestCaseHasSelectedRows$ | async"
                                       (clickedInActiveMode)="removeVerifyingTestCases()">
                  <i [attr.data-test-icon-id]="'remove-verifying-test-case'"
                     nz-icon nzTheme="outline" class="action-icon-size" nz-tooltip
                     [nzTooltipTitle]="'sqtm-core.requirement-workspace.verifying-test-case.unlink.plural' | translate"
                     [nzType]="'sqtm-core-generic:unlink'"></i>
                </sqtm-core-toggle-icon>
              </div>
            </div>

          </ng-template>
        </nz-collapse-panel>

        <nz-collapse-panel
          [sqtmCoreAnchorPanel]="'requirement-version-links'"
          [sqtmCoreAnchorCollapsePanel]="'requirement-version-links'"
          [nzHeader]="requirementVersionLinkTitle"
          [nzExtra]="requirementVersionLinkAction"
          sqtmCoreAnchorLastPanel>
          <sqtm-app-requirement-version-link-table></sqtm-app-requirement-version-link-table>
          <ng-template #requirementVersionLinkTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.requirement-workspace.title.requirement-version-link' | translate}}</div>
          </ng-template>
          <ng-template #requirementVersionLinkAction>
            <div class="panel-buttons"
                 *ngIf="componentData.permissions.canLink && componentData.requirementVersion.status !== 'OBSOLETE'">
              <div (click)="toggleRequirementDrawer($event)">
                <i [attr.data-test-icon-id]="'add-requirement-links'"
                   nz-icon nzType="sqtm-core-generic:add" nzTheme="outline" nz-tooltip
                   [nzTooltipTitle]="'sqtm-core.requirement-workspace.requirement-links.link' | translate"
                   class="current-workspace-button action-icon-size">
                </i>
              </div>
              <div (click)="stopPropagation($event)">
                <sqtm-core-toggle-icon
                  [active]="requirementViewService.requirementVersionLinkGrid.hasSelectedRows$ | async"
                  (clickedInActiveMode)="removeRequirementVersionLinks()">
                  <i [attr.data-test-icon-id]="'remove-requirement-links'"
                     nz-icon nzTheme="outline" class="action-icon-size" nz-tooltip
                     [nzTooltipTitle]="'sqtm-core.requirement-workspace.requirement-links.unlink.plural' | translate"
                     [nzType]="'sqtm-core-generic:unlink'"></i>
                </sqtm-core-toggle-icon>
              </div>
            </div>

          </ng-template>
        </nz-collapse-panel>

        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>
