.icon-size-sm {
  width: 10px;
  height: 10px;
}

.icon-size-m {
  width: 20px;
  height: 20px;
}

.icon-size-nav {
  width: var(--nav-height);
  height: var(--nav-height);
}

.icon-vertical {
  transform: rotate(-90deg);
}

.icon-size-nav-content {
  height: var(--nav-content-height);
  width: var(--nav-content-height);
}
