<ng-container *ngIf="show">
  <div class="full-height full-width icon-container current-workspace-main-color __hover_pointer" (click)="handleClick()">
    <i nz-icon [nzType]="iconName" nzTheme="outline" class="table-icon-size"></i>
  </div>
</ng-container>
